# API and Data Use Policy

We hate legalese, so we've tried to make this policy readable. If you've got any questions, feel free to [ask us](mailto:support@growstuff.org), and we'll do our best to answer.

This API and Data Use Policy covers all websites (such as [growstuff.org](http://growstuff.org)) owned and operated by Growstuff Pty Ltd ("Growstuff", "we", "us", "our") and all associated services, collectively referred to as the Service.

In particular, this policy covers any access to the Service via any Application Programming Interface, feeds, spidering, scraping, or any other automated or programmatic access to the Structured Data or Content available via the Service (collectively, the "API"). This policy applies to anyone who uses the API ("you", "developer").

## 1. API Provided As-Is, and Subject to Change

Growstuff provides its API on an as-is basis, as described under "Disclaimer of Warranties" in our [Terms of Service](http://growstuff.org/policy/tos).

Growstuff's API is subject to change.  We will make reasonable efforts to notify developers of changes and of the release status of any API features. You should take reasonable efforts to keep up with Growstuff technical news via our forums, mailing lists, or other channels.

## 2. Don't overload our servers

You agree to limit your access to the API in such a way as to prevent excessive load on the Service.  Growstuff reserves the right to restrict or rate-limit access to the API if necessary to maintain the performance of the Service.

## 3. Use of Growstuff Data and Content

You agree to observe the terms of the [Creative Commons Attribution-ShareAlike (CC-BY-SA) 3.0 Unported License](http://creativecommons.org/licenses/by-sa/3.0/deed.en_US) under which our Structured Data is made available.  You agree to to observe the copyright and intellectual property rights of Growstuff's members with regard to their Content posted on the Service, including but not limited to posts, comments, images, etc.

You agree to respect any privacy settings which pertain to the Structured Data or Content you access via the API.  You agree not to republish any Structured Data or Content with more permissive access than was originally intended by the member who posted it.

Growstuff acknowledges that Structured Data and Content made available under the API may be cached or retained by third parties for any length of time.  However, we request that if you are building an application using current Structured Data and Content, you will take reasonable efforts to regularly update it, including removing any Structured Data or Content that is deleted from the Service, and reflecting any changes in privacy settings that pertain to it.

## 4. Authentication

Growstuff reserves the right to require authentication and/or app registration as a condition of use of the API and Data.

If you provide users with the ability to login to Growstuff, you must do so via OAuth.  You may not require users to provide their Growstuff login name and password.

## 5. Penalties

If you violate the terms of this Policy, Growstuff may restrict your access to the API.

## 6. Changes

We may change our API and Data Use Policy from time to time. A history of changes to this Policy is available via our public source code repository at [https://github.com/Growstuff/policy](https://github.com/Growstuff/policy). We will take reasonable steps to notify you of any substantial changes to this Policy; however, it is your responsibility to check this Policy periodically for changes. Your continued use of this site after any change in this Privacy Policy will constitute your acceptance of such change.

## 7. Creative Commons License

This API and Data Use Policy is licensed under a [Creative Commons Attribution-ShareAlike (CC-BY-SA) 3.0 Unported License](http://creativecommons.org/licenses/by-sa/3.0/deed.en_US).
