-content_for :title, 'Growstuff Community Guidelines'

:markdown
  Growstuff is a community by and for food-gardeners.  Together, we are building a website where we can share our experience, knowledge, and the products of our harvest.  The most important thing about Growstuff is the people.  For Growstuff to thrive, we need people to add their crops, share their knowledge, and help build the site itself.

  Whatever your interest in Growstuff you are welcome here, and will be treated with respect.  In particular:

  - We welcome people of any age, gender identity or expression, ethnicity, nationality, religion or absence thereof, political opinion, sexual orientation, marital status, family structure, ability or disability, appearance, subculture, or other identity or self-identification.

  - Although Growstuff is primarily focused on food gardening, we welcome all kinds of gardeners, including organic and conventional growers; those who grow their crops in fields or on balconies or in hydroponic systems; those who garden commercially or non-commercially; those who subsist on their crops and those who garden for other reasons.

  - We welcome people of all skill and experience levels, and we don't believe in being dismissive or commenting rudely just because you are new or learning.

  - Every role in our community is important, including gardeners who contribute skills, knowledge, and information to our site; coders, designers and other techies who help build it; moderators and others who help our community thrive; or any other form of participation.  We believe in working together, and prioritise communication and mutual understanding.

  If you want to participate in the Growstuff community (which includes our website and any auxiliary forums such as our mailing list(s), IRC channel, etc), you need to agree to our general commitment to inclusiveness and mutual respect, as well as to the following specific policies:

  - Harassment of any Growstuff community member is forbidden.  Harassment includes slurs directed at individuals or groups; unwanted sexual remarks directed at any person or group; sexually explicit comments or imagery in public spaces; stalking or other repeated, unwanted contact; or any repeated or sustained behaviour which disrupts someone else's enjoyment of the Growstuff site or community.

  - The privacy of our community members is very important.  You may not disclose any member's personal details (including names by which they are known outside of Growstuff, their location, employment details, family details, outside-of-Growstuff contact details, or any other identifying or personal information) without their explicit consent.

  - Although we let you choose your own name on our site, and don't insist that you use the same name on our website as you have on the cards in your wallet, you're not allowed to create or use a pseudonymous account to mislead people, evade accountability, or otherwise cause trouble.  (This is commonly known as a "sockpuppet" account.)

  If you experience or witness behaviour that goes against these community guidelines, you can report it to support@growstuff.org.  We will listen carefully and take your report seriously.  Once we've looked into the situation, we may take any action we deem necessary.  For instance, we may issue a warning, or in serious cases we may suspend or ban people from our community.  If this happens, we will always tell the person affected the reason for our action, with reference to our policy documents.

  We don't want to make these guidelines too long or legalistic, so we'll leave it there, except for one final guideline. As Bill and Ted said: *be excellent to each other*.  And grow stuff.

  ## Creative Commons License

  These Community Guidelines are licensed under a [Creative Commons Attribution-ShareAlike (CC-BY-SA) 3.0 Unported License](http://creativecommons.org/licenses/by-sa/3.0/deed.en_US).

