-content_for :title, 'Copyright Infringement Policy'

:markdown
  We hate legalese, so we've tried to make this policy readable. If you've got any questions, feel free to [ask us](mailto:support@growstuff.org), and we'll do our best to answer.

  This Copyright Infringement Policy covers all websites (such as [growstuff.org](http://growstuff.org)) owned and operated by Growstuff Pty Ltd ("Growstuff", "we", "us", "our") and all associated services, collectively referred to as "the Service".  It describes how you may report a violation of copyright on the Service.

  Growstuff respects the intellectual property of others, and we ask our users to do the same. Growstuff members are required by the [Terms of Service](http://growstuff.org/policy/tos) to ensure that they have the legal right to post content to the Service.

  Growstuff is based in Melbourne, Australia and is not subject to the provisions of the United States Digital Millennium Copyright Act (DMCA).  However, we have established policy and procedures which are similar to those required by the DMCA, as we believe they constitute best practice for web services operating in Australia.

  ## 1. Notifying us of an infringement

  If you believe that a Growstuff member has infringed your intellectual property rights by posting Content to the service, you may follow these steps to notify us and ask for the removal of the Content.

  Notifications may be submitted by email to [support@growstuff.org](mailto:support@growstuff.org) or by physical mail to:

  Growstuff  
  Level 3, 673 Bourke Street  
  Melbourne VIC 3000  
  AUSTRALIA

  We prefer to receive notifications by email.

  Copyright infringement notifications sent through any other mechanism or forum will not be acted upon.

  You must provide the following information:

  * Sufficient information to identify the copyrighted work being infringed. For instance, if the work is a published book, provide the title, author, and ISBN; if the work is a magazine article, provide the title, author, magazine name, and magazine issue; if the work is available on the Internet, provide the URL of the work.
  * The URL of the specific page on Growstuff where your work was reproduced without permission. General descriptions or non-specific links (such as to Growstuff's homepage) cannot be acted upon.
  * Your postal address, telephone number, and email address.
  * A statement by you that the above information is accurate and that you are the copyright or intellectual property owner or authorized to act on the copyright or intellectual property owner's behalf.
  * A physical signature or digital signature in a recognized industry-standard format such as PGP, of the copyright or intellectual property owner or the person authorized to act on their behalf. Unsigned notifications will not be processed.

  ## 2. Responding to notifications

  We will respond to copyright infringement notifications within two business days.

  If we are not provided with enough information to act on the notification, including all the items listed in the section above, we will reject the notification and notify the submitter that it cannot be acted upon.

  If the Content is not hosted on our servers (for instance, if the notification concerns an image hosted on another site which is merely displayed on or linked from our site) we will respond, notifying the submitter that the Content is not hosted by us and referring them to the hosting site.

  Provided we are able to act upon the notification, we will contact the member who posted the Content and inform them of the notification and claim of intellectual property rights.

  The member will have two business days to respond.  They may respond as follows:

  * Admit that they have posted something to which they do not hold intellectual property rights.  In this case, the member may delete the Content from the Service, or we may render it inaccessible.
  * Submit a counter-notification, stating that they have the right to post the Content, and that they are prepared to uphold this claim in court.  The process for this is outlined below.
  * Respond saying that they do not believe they have infringed any intellectual property rights, but that they do not wish to formally submit a counter-notification. In this case, the member may delete the Content from the Service, or we may render the Content inaccessible.
  * If the member fails to respond, we will render the Content inaccessible.

  When Content is deleted or rendered inaccessible, we will take reasonable efforts to ensure it cannot be accessed via the Service. However, caching or external references may mean that Content remains accessible for some time, including on third-party sites or applications.  Third party sites and applications are not under Growstuff's control. If infringing Content has been removed or rendered inaccessible via the Service but is still available via third-party sites and applications, the copyright or intellectual property holder may contact the operators of those sites/applications to notify them of the infringement.

  ## 3. Counter-notification and restoration process

  A counter-notification is a statement that you do not believe your content infringes on another person's rights, or that your use of another person's copyrighted material falls into a protected category under law.

  By filing a counter-notification, you are indicating that you are willing to defend your use of the material in court, if the copyright owner chooses to bring a lawsuit against you for your use of the material. This may involve civil and/or criminal penalties. We strongly suggest you contact an intellectual property lawyer licensed to practice law in your jurisdiction before you do this, so that you are aware of your rights and obligations under the law.

  A counter-notification must contain the following items:

  * Your signature. Signatures may be a physical signature or a digital signature in a recognized industry-standard format such as PGP.
  * The URL of the Content that has been called into question (this will have been provided in the original notification).
  * A statement that you have a good faith belief that the copyright infringement notification was sent as a result of mistake or misidentification of the material. This should include any reasons why you believe your use of the material is not infringing.
  * Your name, address, and telephone number.

  We will forward your counter-notification, in full, to the submitter of the original notification. They will then have 14 days to initiate legal action and notify us that they have done so.

  In the meantime, we will render the Content inaccessible.

  If, after 14 days, we have not been informed that legal proceedings have been initiated, we will restore the Content.

  If you have filed a counter-notification, you may not re-post the allegedly-infringing material until we notify you that the waiting period has expired.

  ## 4. Repeat offenses

  Members who receive three or more valid copyright infringement notices will have their accounts terminated.

  If a counter-notification is filed, or if the member has stated that they do not accept the allegation of copyright infringement but do not wish to formally file a counter-notification, the notification will not be counted toward termination.

  We also reserve the right to terminate the accounts of those who, in our opinion, misuse or abuse the copyright infringement notification process against other members.

  ## 5. Changes

  We may change our Copyright Infringement Policy from time to time. A history of changes to this Policy is available via our public source code repository at [https://github.com/Growstuff/policy](https://github.com/Growstuff/policy). We will take reasonable steps to notify you of any substantial changes to this Policy; however, it is your responsibility to check this Policy periodically for changes. Your continued use of this site after any change in this Privacy Policy will constitute your acceptance of such change.

  ## 6. Creative Commons license

  This Terms of Service document is based on one developed by Dreamwidth ([http://www.dreamwidth.org/legal/dmca](http://www.dreamwidth.org/legal/dmca)) and is licensed under a [Creative Commons Attribution-ShareAlike 2.5 License](http://creativecommons.org/licenses/by-sa/2.5/).


