-content_for :title, 'Privacy Policy'

:markdown
  We hate legalese, so we've tried to make this policy readable. If you've got any questions, feel free to [ask us](mailto:support@growstuff.org), and we'll do our best to answer.

  This privacy statement ("Privacy Policy") covers all websites (such as [growstuff.org](http://growstuff.org/)) owned and operated by Growstuff Pty Ltd ("Growstuff", "we", "us", "our") and all associated services, collectively referred to as "the Service".

  We use information you share with us for our internal business purposes. We do not sell your information. This notice tells you what information we collect, how we use it, and steps we take to protect and secure it.

  ## 1. Information we collect

  ### 1.1 Non-Personal Data

  Like most website operators, we collect Non-Personal Data such as browser type, language preference, referring site, and the date and time of each visitor request.

  We collect this to understand how our visitors and members use our service, and use it to make decisions about how to change and adapt the service.

  From time to time, we may release Non-Personal Data in aggregate form (for instance, by publishing trends in site usage) to explain our reasoning in making decisions. We will not release individual information, only aggregate information.

  ### 1.2 Personal Data

  Personal Data is anything which can be used to identify or contact you, such as your legal name, email address, IP address, or physical location.

  #### 1.2.1 Automatically collected Personal Data

  We automatically collect some Personal Data, such as IP address, provided by your browser and your computer whenever you visit our website.

  We collect this information for several purposes:

  * To diagnose and repair network issues with your use of the site;
  * To estimate the number of users accessing the service from specific geographic regions;
  * To help prevent fraud and abuse.

  #### 1.2.2 Email address

  In order to register for the service, you must give us your email address. We will use your email address to send confirmation of certain actions, such as when you change your password. We will contact you when it's necessary to complete a transaction that you've initiated, or if there's a critical or administrative issue affecting your use of the service.

  Once you have created your account, you can choose to subscribe to certain events and have notifications of those events sent to you via email. You will be able to change your mind and opt out of receiving notifications via email at any time.

  We will never sell or provide your email address to any third party for marketing purposes, or for any other reason except as set out below.

  #### 1.2.3 Optional Personal Data you provide to us

  As you use the service, you have the option to provide more Personal Data, through your profile and other activity on the site. Providing this information is strictly optional.

  You have the option to provide us with your location.  You may provide this at whatever level of detail you wish, for instance you may provide your street address or your country of residence or nothing at all.  We use this location to provide you with relevant content.

  Many of your activities on the Service may allow you to post Personal Data or to directly or indirectly disclose Personal Data about yourself.  For instance, you may disclose Personal Data in a post or comment on the site, by uploading a picture, by linking to another website you use, or by recording your gardening activity in detail.  All of these activities are optional. You should use due caution when disclosing Personal Data through your activity on the Service.

  We will show the information you provide, including any Personal Data it may contain, to others viewing the site, in accordance with the privacy options you've selected.

  The information you provide is also made available to third parties via our API and feeds, in accordance with the privacy options you've selected and subject to the terms of our API and Data Use Policy which is available at [http://growstuff.org/policy/api](http://growstuff.org/policy/api).

  Some of the information you provide is categorised as Structured Data, which is defined more fully in our [Terms of Service]([http://growstuff.org/policy/tos).  We make Structured Data freely available under a Creative Commons Attribution ShareAlike (CC-BY-SA) 3.0 Unported license for use by third parties, in accordance with the privacy options you've selected.

  We may also use any Personal Data you provide, in aggregate, to make decisions about how to change and adapt the service. From time to time, we may release information in aggregate form (for instance, by publishing trends in site usage) to explain our reasoning in making decisions. We will not release individual information, only aggregate information.

  #### 1.2.4 Financial information and transactions

  You can engage in financial transactions with Growstuff to purchase a paid account. These transactions are optional. If you choose to purchase a paid account, you will be asked to provide financial information to complete the transaction.

  Credit cards: If you pay by credit card, we need you to provide your credit card number, your full name as it appears on the card, your address as it appears on the card statement, and the CVN or Card Verification Number. This information is required so we can authorize and charge your credit card. Your financial information is protected by industry-standard encryption methods. It is never stored on our servers: we pass it immediately along to our processor for the sole purpose of completing the authorized transaction.

  In all cases, Growstuff collects this personal and financial information only as necessary or appropriate for the completion of the single requested transaction. Any additional non-financial Personal Data you disclose during these transactions will be governed by the "Disclosure of Personal Data" provisions below.

  ## 2. Disclosure of Personal Data

  We disclose Personal Data, including optional personal information you have provided but which is not normally available to other site users, only to those of our employees, contractors, and volunteers who (i) need to know that information in order to operate the service and (ii) have agreed not to disclose it to others. Circumstances in which this is necessary include, but are not limited to: troubleshooting and diagnosing technical problems, investigating possible Terms of Service violations, and legal compliance issues.

  We contract with third-party vendors to provide some site features. We will only share personal information with third-party vendors to the extent that is necessary for them to provide these site features. We require our third-party vendors to provide the same level of privacy protection that we do, and they do not have the right to share or use personal information for any purpose other than for an authorized transaction.

  We may disclose Personal Data or potentially personally-identifying data when that release is required by law or by court order, or when we believe in good faith that disclosure is reasonably necessary to protect the safety or rights of us, third parties, or the public at large.

  We reserve the right to transfer your Personal Data to a third party in the event of a sale, merger, liquidation, receivership or transfer of all or substantially all of the assets of our company provided that the third party agrees to adhere to the terms of the Growstuff Privacy Policy and provided that the third party only uses your Personal Data for the purposes that you provided it to us. You will be notified in the event of any such transfer and you will be afforded an opportunity to opt-out.

  ## 3. Cookies

  A cookie is a string of information that a website stores on a visitor's computer, and that the visitor's browser provides to the website each time the visitor returns. We use cookies to help us identify and track visitors, their usage of the website, and their website access preferences. We also use cookies to govern logging into your account.

  Visitors who do not wish to have cookies placed on their computers should set their browsers to refuse cookies before using the site, with the drawback that certain features of the site may not function properly without the aid of cookies.

  ## 4. Confidentiality and security

  No data transmisson over the Internet can ever be guaranteed to be 100% secure. You use this service at your own risk. However, we will take all reasonable steps (including appropriate technical and organisational measures) to protect your Personal Data.

  Your account information is password-protected. We recommend that you choose a strong and secure password. We use industry-standard encryption to protect your password on our servers.

  If we learn of a system security breach, we will notify you electronically so you can take appropriate steps to protect yourself.

  ## 5. Deleting your information

  You can change or delete any optional information that you've provided us at any time. If you change or delete any optional information you've provided, the change will take place immediately on the Service.  However, caching or references to the data, including in third party applications based on the Service, may mean that formerly available data remains available for some time.

  As part of the day to day operation of the Service, we will make regular copies of the data contained in the databases for backup purposes. These backups can potentially contain deleted data for several weeks or months. These backups will also be governed by the rules for Disclosure of Personal Data.

  ## 6. Changes

  We may change our Privacy Policy from time to time. A history of changes to this Policy is available via our public source code repository at [https://github.com/Growstuff/policy](https://github.com/Growstuff/policy). We will take reasonable steps to notify you of any substantial changes to this Policy; however, it is your responsibility to check this Policy periodically for changes. Your continued use of this site after any change in this Privacy Policy will constitute your acceptance of such change.

  ## 7. Contacting us

  If you have questions about this policy, you can contact us at [support@growstuff.org](mailto:support@growstuff.org).

  ## 8. Creative Commons

  This privacy policy is based on one developed by Automattic ([http://automattic.com/privacy/](http://automattic.com/privacy/)) and amended by Dreamwidth ([http://dreamwidth.org/legal/privacy](http://dreamwidth.org/legal/privacy)) and is licensed under a [Creative Commons Attribution-ShareAlike 2.5 License](http://creativecommons.org/licenses/by-sa/2.5/).

