-content_for :title, 'Growstuff Terms of Service'

:markdown
  We hate legalese, so we've tried to make our Terms of Service readable. If you've got any questions, feel free to [ask us](mailto:#{config.support_address}), and we'll do our best to answer.

  Growstuff Pty Ltd ("we", "us", "our", "Growstuff") present the following terms and conditions, which govern your use of the Growstuff website at [growstuff.org](http://growstuff.org), and all content, services and products available at or through the website, which we collectively refer to as "the Service".

  To use the Service, you need to agree to these Terms of Service, along with all other policies we publish (including, but not limited to, Growstuff's Privacy Policy, API and Data Use Policy, Copyright Infringement Policy and Community Guidelines). We refer to this as "the Agreement".

  Please read this Agreement carefully before accessing or using the Service. By accessing or using any part of the Service, you agree that you are bound by the terms and conditions of this Agreement. If you do not agree to all the terms and conditions of this Agreement, then you may not access the Service.

  ## 1. Your Account

  If you create an account on the Service, you are responsible for maintaining the security of your account. You are responsible for all activities that occur under the account. You must take reasonable steps to guard the security of your account. We will not be liable for anything that happens if your account security is breached as a result of your failure to protect it.

  ## 2. Account Structure

  Growstuff currently has three types of accounts:

  * Free Accounts are available free of charge. Free accounts can access basic site functions, but do not receive access to premium features.
  * Paid Accounts are available for term-based fee and receive access to a number of premium features.  When your Paid Account expires, it will revert to a Free Account until you pay for it again.
  * Permanent Accounts are reserved for those who have contributed significantly to the Growstuff project, at our discretion. They receive all features available to paid accounts, for as long as Growstuff continues to operate, without need for future payment.

  Payments to Growstuff, for account services or for any other purpose, are refundable or transferable solely at Growstuff's discretion.

  By using this Service, you agree to this account structure, and to Growstuff's right to change, modify, or discontinue any type of account or the features available to it at any time.

  ## 3. Content policy

  Our content policy relates to any material you may post on the Growstuff website or through the Service, which we call "Content".  This includes profile information, posts and comments, information about your food growing activity, and any other material, whether text, graphics, or any other format, which you may post on Growstuff itself or link to from Growstuff.

  All Content posted to the Service in any way is the responsibility of the owner. If Content is deemed illegal by any law having jurisdiction over you, you agree that we may submit any necessary information to the proper authorities.

  We claim no ownership or control over any Content that you post to the Service.  You retain any intellectual property rights to the Content you post, in accordance with applicable law.  By posting Content, you represent that you have the rights to reproduce that Content (and the right to allow us to serve such Content) without violation of the rights of any third party. You agree that you will bear any liability resulting from the posting of any Content that you do not have the rights to post.

  You grant us a world-wide, royalty-free, and non-exclusive license to reproduce, modify, adapt and publish the Content, solely for the purpose of displaying, distributing and promoting the contents of your account, through any part of the Service including through our API, feeds, and external clients.

  If you delete Content, we will use reasonable efforts to remove it from the Service, but you acknowledge that caching or references to the Content may not be made immediately unavailable.

  ### 3.1 Structured Data

  There is a subset of Content which we refer to as "Structured Data".  Structured Data is Content which represents simple facts, rather than creative effort.  For instance, locations, dates, or the type and number of crops you have planted are Structured Data.  Structured Data may be created explicitly by you or implicitly by the Website in response to your activity.

  By using the Service, you acknowledge that Structured Data will be gathered and stored by Growstuff, and that any Structured Data pertaining to you or your activity may be made available for use by third parties under a Creative Commons Attribution ShareAlike (CC-BY-SA) license. You also agree that attribution for the Structured Data under the terms of the Creative Commons license will be given to Growstuff.

  ### 3.2 Content Posted on Other Websites

  We have not reviewed, and cannot review, all of the material, including computer software, made available through the websites and webpages to which we, any user, or any provider of Content links, or that link to us. We do not have any control over those websites and webpages, and are not responsible for their contents or their use. By linking to an external website or webpage, we do not represent or imply that we endorse such website or webpage. You are responsible for taking precautions as necessary to protect yourself and your computer systems from viruses, worms, Trojan horses, and other harmful or destructive content. We disclaim any responsibility for any harm resulting from your use of external websites and webpages, whether that link is provided by us or by any provider of Content on the Service.

  ### 3.3 How we deal with problem Content

  You agree that by using the Service, you may be exposed to Content you find offensive or objectionable.

  We do not pre-screen Content. However, you acknowledge that we have the right (but not the obligation), in our sole discretion, to remove or refuse to remove any Content from the Service. If such Content is reported to us, it will be our sole discretion as to what action, if any, should be taken.

  If any Content you have submitted is reported to us as violating this Agreement, you agree that we may call upon you to change, modify, or remove that Content, within a reasonable amount of time, as defined by us. If you do not follow this directive, we may terminate your account.

  ## 4. Member Conduct

  You agree that you will not use the Service to:

  1. Upload, post, or otherwise transmit any Content that is harmful, threatening, abusive, hateful, invasive to the privacy and publicity rights of any person, or that violates any applicable local, state, national, or international law, including any regulation having the force of law;
  1. Upload, post, or otherwise transmit any Content that is spam, or contains unethical or unwanted commercial content designed to drive traffic to third party sites or boost the search engine rankings of third party sites, or to further unlawful acts (such as phishing) or mislead recipients as to the source of the material (such as spoofing);
  1. Maliciously impersonate any real person or entity, including but not limited to a Growstuff staff member or volunteer, or to otherwise misrepresent your affiliation with any person or entity;
  1. Upload, post or otherwise transmit any Content that you do not have a right to transmit under any law or under contractual or fiduciary relationships (such as inside information, proprietary and confidential information learned or disclosed as part of employment relationships or under nondisclosure agreements);
  1. Upload, post or otherwise transmit any Content that infringes any patent, trademark, trade secret, copyright, or other proprietary rights of any party;
  1. Interfere with or disrupt the Service or servers or networks connected to the Service, or disobey any requirements, procedures, policies or regulations of networks connected to the Service;
  1. Solicit passwords or personal identifying information for unintended, commercial or unlawful purposes from other users;
  1. Upload, post or otherwise transmit any Content that contains viruses, worms, malware, Trojan horses or other harmful or destructive content;
  1. Allow usage by others in such a way as to violate this Agreement;
  1. Make excessive or otherwise harmful automated use of the Service;
  1. Access any other person's account, or exceed the scope of the Service that you have signed up for; for example, accessing and using features you don't have a right to use.

  You agree that you will abide by the Community Guidelines, which are currently available at [http://growstuff.org/policy/community](http://growstuff.org/policy/community).

  ## 5. Volunteers

  We appreciate the service of volunteers in many aspects of Growstuff's operations.  Volunteer activities include but are not limited to developing software, providing technical support, writing documentation, performing site administration duties, providing expert advice, research, technical writing, reviewing, categorizing, and other duties as necessary to support the operation of the Service.

  All volunteers are expected to be of legal age, or volunteering with the consent of a legal parent or guardian.

  By volunteering, you agree that any work created as a result of your volunteer activities shall be licensed to Growstuff on a perpetual, irrevocable, and world-wide basis, to the extent permitted by law. You agree that Growstuff may determine the basis upon which your volunteer work shall be licensed to others, including under Open Source or Creative Commons licenses that may permit the further alteration or dissemination of your work. If laws prevent such licensing, you agree never to sue Growstuff for the use of said work.

  By volunteering, you agree that you are providing your work with no expectation of pay or future consideration by Growstuff. You also agree that you have taken reasonable diligence to ensure that the work is correct, accurate, and free of defect. You agree that you will not disclose or share any proprietary or confidential information you are provided with in the course of your volunteer work.

  No user is required to volunteer, and users who do not volunteer will receive equal care, support, and attention.

  ## 6. Privacy Policy

  Your use of the Website is governed by the Privacy Policy, currently located at [http://growstuff.org/policy/privacy](http://growstuff.org/policy/privacy).

  ## 7. API and Data Use Policy

  Your use of our API and/or data is governed by our API and Data Use Policy, currently located at [http://growstuff.org/policy/api](http://growstuff.org/policy/api).

  ## 8. Copyright Infringement

  If you believe that material located on the Website violates your copyright, you may notify us in accordance with our Copyright Policy, currently located at [http://growstuff.org/policy/copyright](http://growstuff.org/policy/copyright).

  ## 9. Resale of Services

  You agree not to reproduce, duplicate, copy, sell, resell, or exploit any portion of the Service, use of the Service, or access to the Service, except as is permitted under our API and Data Use Policy, open source license pertaining to the Service's source code, or Creative Commons licenses pertaining to Content or other material posted on the Service.

  ## 10. Indemnity

  You agree to indemnify and hold harmless Growstuff Pty Ltd, its contractors, its licensors, and their respective directors, officers, employees and agents from and against any and all claims and expenses, including attorneys' fees, arising out of your use of the Service, including but not limited to out of your violation of this Agreement.

  ## 11. Termination

  Growstuff may terminate your account or otherwise restrict your use of the Service at any time if we believe you have violated this Agreement.  If this occurs, you will be notified by email, and we will tell you which part of the Agreement we believe you violated.  We may, at our discretion, choose to issue a warning rather than terminate your account, in which case you will also be notified by email and told which part of the Agreement we believe you violated.  We will also provide you with a contact address where you may appeal our decision, however, we do not guarantee that we will change our minds.

  You agree that any termination of your access to the Service may involve removing or discarding any content you have provided.

  Paid accounts that are terminated for violations of this Agreement will only be refunded at our discretion, and only if such termination should come under our established criteria for issuing refunds.

  We may, at our sole discretion, discontinue providing the Service at any time, with or without notice.

  If you wish to terminate this Agreement, you may delete your account and cease using the Service. You agree that, upon deletion of your account, we may, but are not required to, remove any Content you have provided, at any time past the deletion of your account.

  All provisions of this Agreement which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.

  ## 12. Changes

  We reserve the right, at our sole discretion, to modify or replace any part of this Agreement at any time. A history of changes to this Agreement is available via our public source code repository at [https://github.com/Growstuff/policy](https://github.com/Growstuff/policy). We will take reasonable steps to notify you of any substantial changes to this Agreement; however, it is your responsibility to check this Agreement periodically for changes. Your continued use of the Service following the posting of any changes to this Agreement constitutes acceptance of those changes.

  We may also, in the future, offer new features or services through the Service. Such new features and/or services shall be subject to the terms and conditions of this Agreement.

  ## 13. Disclaimer of Warranties

  This Service is provided "as is". Growstuff Pty Ltd and its suppliers and licensors hereby disclaim all warranties of any kind, express or implied, including, without limitation, the warranties of merchantability, fitness for a particular purpose and non-infringement. Neither Growstuff Pty Ltd nor its suppliers and licensors, makes any warranty that the Service will be error free or that access to the Service will be continuous or uninterrupted. You agree that any interruptions to the service will not qualify for reimbursement or compensation. You understand that you download from, or otherwise obtain content or services through, the Service at your own discretion and risk.

  No advice or information, whether oral or written, obtained by you in any fashion shall create any warranty not expressly stated in this Agreement.

  ## 14. Limitation of Liability

  You expressly understand and agree that in no event will Growstuff Pty Ltd or its suppliers or licensors, be liable with respect to any subject matter of this agreement under any contract, negligence, strict liability or other legal or equitable theory for: (i) any special, incidental or consequential damages; (ii) the cost of procurement or substitute products or services; (iii) interruption of use or loss or corruption of data; (iv) any statements or conduct of any third party on the service; or (v) any unauthorized access to or alterations of your Content. We shall have no liability for any failure or delay due to matters beyond our reasonable control.

  The foregoing shall not apply to the extent prohibited by applicable law.

  ## 15. General Information

  This Agreement constitutes the entire agreement between us and you concerning your use of the Service. This Agreement may only be modified by a written amendment signed by an authorized representative of Growstuff Pty Ltd, or by the posting of a revised version to this location. Except to the extent that applicable law (if any) provides otherwise, any dispute arising between you and Growstuff Pty Ltd regarding these Terms of Service and/or your use or access of the Service will be governed by the laws of the state of Victoria and the federal laws of Australia, excluding any conflict of law provisions. You agree to submit to the jurisdiction of the state and federal courts located in Melbourne, Australia for any disputes arising out of or relating to your use of the Service or your acceptance of this Agreement.

  If any part of this Agreement is held invalid or unenforceable, that part will be construed to reflect the parties' original intent, and the remaining portions will remain in full force and effect. A waiver by either party of any term or condition of this Agreement or any breach thereof, in any one instance, will not waive such term or condition or any subsequent breach thereof.

  The section titles in this Agreement are for convenience only and have no legal or contractual effect.

  ## 16. Reporting Violations

  To report a violation of this agreement, please email [#{config.support_address}](#{config.support_address}).

  ## 17. Creative Commons

  This Terms of Service document is based on one developed by Automattic ([http://wordpress.com/tos/](http://wordpress.com/tos/)) with amendments by Dreamwidth ([http://www.dreamwidth.org/legal/tos](http://www.dreamwidth.org/legal/tos)) and is licensed under a [Creative Commons Attribution-ShareAlike 2.5 License](http://creativecommons.org/licenses/by-sa/2.5/).


