-content_for :title, 'Growstuff Terms of Service'

:markdown
  1. Growstuff is currently UNDER DEVELOPMENT and is not a complete or reliable service. By signing up for an account, you recognise that this is the case, and that Growstuff may lose, mangle, or incorrectly use any data you enter, up to and including deleting your entire account and everything associated with it.
  1. You are strongly advised to sign up for our [Mailing list](http://wiki.growstuff.org/index.php/Mailing_list) to keep up with developments on the Growstuff site, and to follow discussions there for information about changes, updates, etc.
  1. As a member of Growstuff, you agree to abide by our #{link_to('Community Guidelines', url_for(:controller => 'policy', :action => 'community'))}.
  1. Any changes to this Terms of Service document or related policies (eg. the Community Guidelines) can be tracked at [http://github.com/Growstuff/policy](http://github.com/Growstuff/policy). To be notified of changes to our policies, sign up for a github account and "watch" this repository.
