- content_for :title, "Forums"

- @forums.each do |forum|
  .well
    %h2= forum.name
    %p
      Owner:
      =link_to forum.owner, forum.owner
    %div
      :markdown
        #{ strip_tags(forum.description) }
    %p= link_to "Visit forum", forum
