- content_for :title, t('.title') 

- if can? :create, Forum
  %p
    = link_to "New forum", new_forum_path, :class => 'btn btn-default'

- @forums.each do |forum|
  %h2= forum
  %p
    = pluralize(forum.posts.size, "post")
    |
    =link_to "Visit forum", forum
    |
    =link_to "Post", new_post_path(:forum_id => forum.id)
  =render :partial => "posts/summary", :locals => { :posts => forum.posts, :howmany => 4 }

