- content_for :title, @forum.name

%p#notice= notice

%p
  :markdown
    #{ strip_tags(@forum.description) }
%p
  This forum is run by
  = link_to @forum.owner, @forum.owner

%h2 Posts

=render :partial => "posts/summary", :locals => { :posts => @forum.posts }


%p=link_to "Post something", new_post_path(:forum_id => @forum.id), :class => 'btn'
