sudo: required
language: ruby
cache:
  bundler: true
  directories:
    - travis_phantomjs
    - tmp/cache/assets/test/sprockets
env:
  matrix:
    - GROWSTUFF_ELASTICSEARCH=true RSPEC_TAG=elasticsearch COVERAGE=true
    - GROWSTUFF_ELASTICSEARCH=false RSPEC_TAG=~elasticsearch COVERAGE=false
    - STATIC_CHECKS=true
  global:
    - GROWSTUFF_SITE_NAME="Growstuff (travis)"
    - RAILS_SECRET_TOKEN='xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'
    - secure: "Z5TpM2jEX4UCvNePnk/LwltQX48U2u9BRc+Iypr1x9QW2o228QJhPIOH39a8RMUrepGnkQIq9q3ZRUn98RfrJz1yThtlNFL3NmzdQ57gKgjGwfpa0e4Dwj/ZJqV2D84tDGjvdVYLP7zzaYZxQcwk/cgNpzKf/jq97HLNP7CYuf4="
before_install:
  - ./script/install_phantomjs.sh
  - export PATH=$PWD/travis_phantomjs/phantomjs-2.1.1-linux-x86_64/bin:$PATH
  - ./script/install_codeclimate.sh
  - ./script/install_linters.sh
  # Force Travis to use Elastic Search 2.4.0
  - ./script/install_elasticsearch.sh
script:
  - set -e
  - >
    if [ "${STATIC_CHECKS}" = "true" ]; then
      ./script/check_static.rb
    else
      set +e;
      RAILS_ENV=test bundle exec rake db:create db:migrate;
      bundle exec rake assets:precompile;
      bundle exec rspec --tag $RSPEC_TAG spec/;
    fi;
  - set +e
after_script:
  - >
    if [ "${COVERAGE}" = "true" ]; then
      ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT;
    fi
before_deploy:
  - bundle exec script/heroku_maintenance.rb on
deploy:
  provider: heroku
  api_key:
    secure: "WrQxf0fEKkCdXrjcejurobOnNNz3he4dDwjBbToXbQTQNDObPp7NetJrLsfM8FiUFEeOuvhIHHiDQtMvY720zGGAGxDptvgFS+0QHCUqoTRZA/yFfUmHlG2jROXTzk5uVK0AE4k6Ion5kX8+mM0EnMT/7u+MTFiukrJctSiEXfg="
  on:
    repo: Growstuff/growstuff
    condition: "$RSPEC_TAG = elasticsearch"
  app:
    dev: growstuff-staging
    master: growstuff-prod
    travis_deploy: tranquil-basin-3130
    travis_containers: tranquil-basin-3130
  run:
    - "rake db:migrate"
    - "script/deploy-tasks.sh"
    - restart
after_deploy:
  - bundle exec script/heroku_maintenance.rb off
addons:
  code_climate:
    repo_token:
      secure: "PfhLGBKRgNqhKuYCJsK+VPhdAzcgWFGeeOyxC/eS8gtlvIISVdgyZE+r30uIei0DFI6zEiN62eW4d+xtT4j7/e2ZcAcx7U52mza/SnQNuu3nCGQDJB8VOvV5NbnwXfi8vfr4e889Mt7k3ocd2c4gqB4UtRqrzhygj7HN+B/GfEk="
