#!/bin/bash

################################################################################
# NOTE: THIS FILE IS DEPRECATED.
# We are moving to using Figaro. Please see # config/application.yml.example
# instead, and help us work toward moving stuff out of here and into
# that file.
################################################################################

# This file is an empty sample file which you (i.e. Growstuff
# developers) can copy and use to store your API credentials for
# external APIs used by the Growstuff application.

# To use this file, simply copy it to credentials.sh (which is
# .gitignore'd) and then fill in whatever credentials you need.  Then in
# the window where you run "rails s", first run:
#
#     source credentials.sh
#
# If you then run "rails s", it will have all the environment variables
# available to it.

### CREDENTIALS ###

# generate a real secret key with 'rake secret' if you want one (you
# don't need to for your dev machine though.)
export RAILS_SECRET_TOKEN="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

# Used for connecting member accounts to Twitter
# Get Twitter key from https://dev.twitter.com/apps
export TWITTER_KEY=""
export TWITTER_SECRET=""

# Used for connecting member accounts to Flickr
# Get Flickr key from http://www.flickr.com/services/apps/create/apply/
export FLICKR_KEY=""
export FLICKR_SECRET=""
