#!/bin/bash

# This file is an empty sample file which you (i.e. Growstuff
# developers) can copy and use to store your API credentials for
# external APIs used by the Growstuff application.

# To use this file, simply copy it to credentials.sh (which is
# .gitignore'd) and then fill in whatever credentials you need.  Then in
# the window where you run "rails s", first run:
#
#     source credentials.sh
#
# If you then run "rails s", it will have all the environment variables
# available to it.

### CREDENTIALS ###

# Mandrill is used to send transactional email (eg. signup
# confirmations).  If using Heroku connect to Mandrill via Heroku addons
# list then go to tools menu (upper right) and choose "SMTP and API
# Credentials"
export MANDRILL_USERNAME=""
export MANDRILL_APIKEY=""

# Used for connecting member accounts to Twitter
# Get Twitter key from https://dev.twitter.com/apps
export TWITTER_KEY=""
export TWITTER_SECRET=""
