The #{SECRETS.GROWSTUFF_SITE_NAME} newsletter is sent out
every few weeks. Check out our
= link_to 'past newsletters', 'http://blog.growstuff.org/category/newsletter/'
if you want to see the sort of thing we'll send you.  Of course, we'll never spam you
or sell your email address, and you can unsubscribe any time.
