= content_for :title, "Recent comments"

- @recent_comments.each do |comment|
  %h2
    Comment on
    = link_to comment.post.subject, comment.post
  = render :partial => "single", :locals => { :comment => comment }
