= content_for :title, @comment.post.subject

= render partial: 'posts/single', locals: { post: @comment.post }

%h2 Showing 1 comment

= render partial: 'single', locals: { comment: @comment }

=link_to 'View all comments', post_path(@comment.post)
