-content_for :title, 'Admin'

%h2 Manage

%ul
  %li= link_to "Account types", account_types_path
  %li= link_to "Products", products_path
  %li= link_to "Roles", roles_path
  %li= link_to "Forums", forums_path

%h2 Orders

=render "admin/orders/searchform"
