body {
    padding-top: 0;
}

#jasmine_content {
    width: 1000px;
    height: 1000px;
    position: absolute;
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    -ms-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
}