= content_for :title, @notification.subject

= render @notification

%p
  =link_to 'Delete', @notification, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-default'
  =link_to 'Reply', @reply_link, :class => 'btn btn-primary'
