%h2 Your current account status

%p
  %strong Account type:
  = current_member.account_type.name

- if current_member.account.paid_until_string
  %p
    %strong Paid until:
    = current_member.account.paid_until_string

- if ! current_member.is_paid?
  = link_to "Upgrade and support #{Growstuff::Application.config.site_name}", shop_path, :class => 'btn btn-primary'
