.btn-group
  = link_to t('buttons.plant_something'), new_planting_path, class: 'btn btn-default'
  = link_to t('buttons.harvest_something'), new_harvest_path, class: 'btn btn-default'
  = link_to t('buttons.save_seeds'), new_seed_path, class: 'btn btn-default'

.btn-group
  = link_to t('buttons.write_blog_post'), new_post_path, class: 'btn btn-default'
