%p
  .btn-group
    = link_to t(:plant_something), new_planting_path, class: 'btn btn-default'
    = link_to t(:harvest_something), new_harvest_path, class: 'btn btn-default'
    = link_to t(:save_seeds), new_seed_path, class: 'btn btn-default'
    = link_to t(:write_blog_post), new_post_path, class: 'btn btn-default'
