You can use
= link_to 'Markdown', 'https://daringfireball.net/projects/markdown/syntax/'
to format your text.
%br/
For instance, *italic*, **bold**, or a link [like this](http://to.some.site.com/).
%br/
Quick crop links: [sweet potato](crop).
%br/
Quick member links: @Username or [Username](member).
