%h1= Growstuff::Application.config.site_name

.row-fluid
  .span8.info
    %p
      #{Growstuff::Application.config.site_name} is a community of food gardeners.
      We're building an open source platform to help you learn about
      growing food, track what you plant and harvest, and swap
      seeds and produce with other gardeners near you.

    = render :partial => 'stats'
  .span4.signup
    %p Join now for your free garden journal, seed sharing, forums, and more.
    %p= link_to 'Sign up', new_member_registration_path, :class => 'btn btn-primary btn-large'

