- cache cache_key_for(Crop, 'interesting'), expires_in: 1.day do
  .row
    %h2= t('.our_crops')
    - Crop.interesting.includes(:scientific_names, :photos).limit(8).each do |c|
      .col-md-4.col-sm-3.col-xs-6= render 'crops/thumbnail', crop: c
