.row-fluid
  .span6.hidden-phone
    - cache "interesting_crops", :expires_in => 1.day do
      %h2 Some of our crops
      - Crop.interesting.each do |c|
        .span3{:style => 'margin:0px; padding: 3px'}
          = render :partial => 'crops/image_with_popover', :locals => { :crop => c }

  .span6
    - cache "interesting_plantings" do
      %h2 Recently planted
      = render :partial => 'plantings/list', :locals => { :plantings => Planting.interesting.first(4) }

.row-fluid
  .span12
    - cache "recent_crops" do
      %p{ :style => 'margin-top: 11.25px' }
        %strong
          Recently added crops:
        != Crop.recent.limit(12).map {|c| link_to(c, c) }.join(", ")

    %p.text-right
      =link_to "View all crops »", crops_path
