.row-fluid
  .span6
    - cache "interesting_crops", :expires_in => 1.day do
      %h2 Some of our crops
      - @crops.each do |c|
        .span3{:style => 'margin:0px; padding: 3px'}
          = render :partial => 'crops/image_with_popover', :locals => { :crop => c }

  .span6
    - cache "interesting_plantings" do
      %h2 Recently planted
      = render :partial => 'plantings/list', :locals => { :plantings => @plantings }

.row-fluid
  .span12
    - cache "recent_crops" do
      %p
        %strong
          Recently added crops:
        != @recent_crops.map {|c| link_to(c, c) }.join(", ")

    %p
      =link_to "View all crops", crops_path, :class => 'btn btn-primary'

