.find-growers

  #placesmap

  .centered-relative
    = form_tag(search_places_path, :method => 'get', :class => 'form-inline', :role => 'form') do
      .banner-form-group.contrast-screen-dark
        = label_tag :new_place, t('.label'), :class => 'against-image-text' 
        = text_field_tag :new_place, '', :class => 'form-control', :placeholder => t('.placeholder')
