%h2= t('.keep_in_touch')

%p
  =image_tag("twitter_32.png", :alt => '')
  = t('.twitter_html', link: link_to(t('.twitter_linktext'), 'http://twitter.com/growstufforg'))

%p
  =image_tag("blog_32.png", :alt => '')
  = t('.blog_html', link: link_to(t('.blog_linktext'), 'http://blog.growstuff.org/'))

%p
  =image_tag("email_32.png", :alt => '')
  = t('.newsletter_html', link: link_to(t('.newsletter_linktext'), 'http://blog.growstuff.org/newsletter'))

