%h2 Keep in touch

%p
  =image_tag("twitter_32.png", :alt => '')
  Follow
  =link_to '@growstufforg', 'http://twitter.com/growstufforg'
  on Twitter.

%p
  =image_tag("blog_32.png", :alt => '')
  Subscribe to the
  =link_to 'Growstuff Blog', 'http://blog.growstuff.org/'

%p
  =image_tag("email_32.png", :alt => '')
  Subscribe to our
  =link_to 'email newsletter', 'http://blog.growstuff.org/newsletter'
