- cache cache_key_for(Member) do
  .hidden-xs
    - members = Member.interesting.limit(6)
    %h2.text-center= t('.title')
    .index-cards
      = render partial: 'members/member', collection: Member.homepage_records(6)
    %p.text-right
      = link_to "#{t('.view_all')} »", members_path, class: 'btn btn-block'
