- cache "interesting_members" do
  .visible-desktop.visible-tablet
    - members = Member.interesting.first(6)
    - if members.present?
      %h2 Some of our members

      .row
        - members.each do |m|
          .span6.homepage-members
            = render :partial => "members/thumbnail", :locals => { :member => m }

      %p.text-right
        = link_to "View all members »", members_path
