- cache cache_key_for(Member) do
  .hidden-xs
    - if @interesting_members.present?
      %section
      %h2= t('.title')

      .member-cards
        - @interesting_members.each do |m|
          = render partial: "members/thumbnail", locals: { member: m }

      %p.text-right
        = link_to "#{t('.view_all')} »", members_path
