- if @members.present?
  %h2 Some of our members

  .row-fluid
    - @members.each do |m|
      .span6.homepage-members
        .row-fluid
          .span3
            = render :partial => "members/image_with_popover", :locals => { :member => m }
          .span9
            %p
              = link_to m.login_name, m
              %br/
              %i= m.location
              %br/
              Recently planted:
              != m.plantings.first(3).map{|p| link_to p.crop_system_name, p }.join(", ")


