- cache "interesting_members" do
  .hidden-xs
    - members = Member.interesting.first(6)
    - if members.present?
      %h2= t('.title')

      .row
        - members.each do |m|
          .col-md-6.homepage-members
            = render :partial => "members/thumbnail", :locals => { :member => m }

      %p.text-right
        = link_to "#{t('.view_all')} »", members_path
