- cache cache_key_for(Member) do
  .hidden-xs
    - members = Member.includes(plantings: :crop).interesting.first(6)
    - if members.present?
      %section
      %h2= t('.title')

      .member-cards
        - members.each do |m|
          = render "members/thumbnail", member: m

      %p.text-right
        = link_to "#{t('.view_all')} »", members_path
