%h2 People

%p Here are some people

- if @interesting_members.present?
  %ul.thumbnails
    - @interesting_members.each do |m|
      %li.span2
        = render :partial => "members/thumbnail", :locals => { :member => m }
