- cache cache_key_for(Planting, 'home'), expires_in: 1.day do
  %h2= t('.recently_planted')
  = render 'plantings/list', plantings: Planting.includes(:crop, garden: :owner).has_photos.recent.limit(5)
