.search-crops.home-banner.container

  %label 
    What do you want to grow? 
    %input.form-control

  .row
    - cache cache_key_for(Crop), :expires_in => 1.day do
      - Crop.last(4).each do |c|
        .col-md-3{:style => 'margin:0px; padding: 3px'}
          = render :partial => 'crops/thumbnail', :locals => { :crop => c }
