.search-crops.home-banner

  = form_tag(crops_search_path, :method => 'get', :class => 'form-inline', :role => 'form') do
    .form-group
      = label_tag :search, 'What do you want to grow?' 
      = text_field_tag :search, '', :class => 'form-control', :placeholder => 'eg. lettuce'

  .row
    - cache cache_key_for(Crop), :expires_in => 1.day do
      - Crop.interesting.each do |c|
        .col-md-3{:style => 'margin:0px; padding: 3px'}
          = render :partial => 'crops/thumbnail', :locals => { :crop => c }
