- cache cache_key_for(Seed) do
  - seeds = Seed.current.tradable.includes(:owner, :crop).order(created_at: :desc).limit(6)
  - if seeds.size.positive?
    %h2.section-heading.h1.pt-4.text-center= t('.title')
    = render 'seeds/list', seeds: seeds
