- cache cache_key_for(Seed) do
  %h2.text-center= t('home.seeds.title')
  .index-cards
    - Seed.current.tradable.includes(:owner, :crop).order(created_at: :desc).limit(6).each do |seed|
      = render 'seeds/card', seed: seed
