<% content_for :title, "Growstuff dev site" %>

<div class="row">
  <div class="five columns">
    <ul class="link-list">
      <% if user_signed_in? %>
        <li>You are signed in as <%= current_user.email %>. </li>
        <li><%= link_to("Log out", destroy_user_session_path) %></li>
      <% else %>
        <li><%= link_to('Sign up', new_user_registration_path) %></li>
        <li><%= link_to('Log in', new_user_session_path) %></li>
      <% end %>
    </ul>
  </div>
</div>
<div class="row">
  <div class="five columns">
    <h1><a href="/">Growstuff</a> <small>dev site</small></h1>
    <p>We're a community of gardeners</p>
  </div>
</div>
<div class="row">
  <div class="five columns">
    <ul class="link-list">
      <li><a href="">footer link</li>
    </ul>
  </div>
</div>


