%h1 Welcome to Growstuff
%p
  Growstuff is a community of food gardeners working together to build an open
  source platform to track, share, and discuss edible gardens and sustainable
  lifestyles. You can join us right now and be part of growing our website,
  from seed to harvest. We welcome you regardless of your experience, and
  invite you to be part of our development process.

- if user_signed_in?
  %p
    You are signed in as
    = current_user.email + "."
    = link_to("Log out", destroy_user_session_path)
- else
  %p
    = link_to('Sign up', new_user_registration_path)
    |
    = link_to('Log in', new_user_session_path)
