<h1>Welcome to Growstuff</h1>
<p>We're a community of gardeners</p>

<% if user_signed_in? %>
<p> 
You are signed in as <%= current_user.email %>. 
<%= link_to("Log out", destroy_user_session_path) %>
</p>
<% else %>
<p>
<%= link_to('Sign up', new_user_registration_path) %> |
<%= link_to('Log in', new_user_session_path) %>
</p>
<% end %>

