.title-banner.home-banner
  %h1.against-image-text.text-center= ENV['GROWSTUFF_SITE_NAME']
  %p.image-attribution= t('.image_attribution')

.container
  .row
    .col-md-12
      = render :partial => 'crops'
  .row
    .col-md-12
      = render :partial => 'find_growers'


