.btn-group.container-actions
  = render 'shared/buttons/edit', path: edit_container_path(container)
  .pull-right
  = render 'shared/buttons/delete', path: container_path(container)

- if can? :create, container
  = link_to new_container_path, class: 'btn btn-default btn-xs' do
    %span.glyphicon.glyphicon-grain{ title: "Create new container" }
    Create new container
