- cache cache_key_for(Container, container.id) do
  .thumbnail
    .container-thumbnail
      - if container
        .containerinfo
          .containername
            = link_to container.description, container
