- content_for :title, 'Containers'

%p
  #{ENV['GROWSTUFF_SITE_NAME']} tracks who's growing what, where.
  View any container page to see which of our members have used it.

.row
  - @containers.each do |container|
    .col-md-2.six-across
      = render partial: "thumbnail", locals: { container: container }

- if can? :create, Container
  %div
    = link_to 'New Container', new_container_path, class: 'btn btn-primary'

.pagination
  = will_paginate @containers
