- content_for :title, @container.description.capitalize
- content_for :subtitle, @container.subtitler(@container)

- if can?(:create, @container) && can?(:edit, @container) && can?(:destroy, @container)
  - content_for :buttonbar do
    = render 'containers/actions', container: @container

- if @container.gardens.uniq.empty?
  %p There are no gardens to display.
- else
  - @container.gardens.uniq.each do |garden|
    = render 'gardens/overview', garden: garden
