= link_to path, method: :delete,
          data: { confirm: t(:are_you_sure?) }, class: 'btn btn-default btn-xs' do
  = render 'shared/glyphicon', icon: 'trash', title: 'buttons.delete'
  =t('buttons.delete')
