- planting.active? && if can?(:create, Harvest) && can?(:edit, planting)
  = link_to new_planting_harvest_path(planting), class: 'btn btn-default btn-xs' do
    %span.glyphicon.glyphicon-leaf{ title: "Harvest" }
    Harvest
