- if planting.active?
  = link_to new_planting_seed_path(planting), class: 'btn btn-default btn-xs' do
    = render 'shared/glyphicon', icon: 'heart', title: 'buttons.save_seeds'  
    = t('buttons.save_seeds')
