= link_to image_tag(harvest_image_path(harvest),
                    alt: harvest.to_s,
                    class: 'image-responsive crop-image'),
          harvest,
          rel: "popover",
          'data-bs-toggle': 'popover',
          'data-bs-trigger': 'hover',
          'data-bs-title': harvest.to_s,
          'data-bs-content': render('harvests/popover', harvest: harvest),
          'data-bs-html': true
