- harvests.each do |harvest|
  - cache harvest do
    .card
      .view.overlay
        = link_to harvest do
          %img.card-img-top.img-responsive{alt: harvest, src: harvest.default_photo.fullsize_url}/
      .card-body.p-3
        %h5.card-title.font-weight-bold.fuchsia-rose-text.mb-0
          = link_to harvest, harvest
        %small
          %i= harvest.owner.location
    %hr/
