- harvests.each do |h|
  - cache h do
    .row
      .col-lg-6.col-md-3.col-xs-4.homepage-listing
        = render 'harvests/image_with_popover', harvest: h
      .col-lg-3.col-md-9.col-xs-4
        = link_to h.crop, crop_path(h.crop)
        %br/
        %small
          %i= h.owner.location
