.thumbnail
  .harvest-thumbnail
    - if harvest
      = link_to image_tag((harvest.default_photo ? harvest.default_photo.thumbnail_url : 'placeholder_150.png'),
                          alt: harvest.crop.name, class: 'img'),
                          harvest
      .harvestinfo
        .harvest-name
          = link_to harvest, harvest
  = I18n.l(harvest.harvested_at.to_date)
