%h1 Editing scientific_name

- if user_signed_in?
  = render 'form'
  %ul.link-list
    %li
    = link_to 'Show', @scientific_name, { :class => 'button' }
    %li
    = link_to 'Back', scientific_names_path, { :class => 'button' }
- else
  %div.alert-box.alert You're not logged in. Only logged in users can do this.
