- content_for :title, "Edit scientific name"

%p
  Added by
  = link_to @scientific_name.creator, @scientific_name.creator
  = distance_of_time_in_words(@scientific_name.created_at, Time.zone.now)
  ago.

= render 'form'
