- if seed.tradable?
  %span.badge.badge-secondary Will trade #{seed.tradable_to}
  - if seed.trades_pending?
    %span.badge.badge-warning trade pending

- if seed.quantity.present?
  %span.badge.badge-primary
    =display_seed_quantity(seed)

- unless seed.organic == 'unknown'
  %span.badge.badge-info= seed.organic

- unless seed.gmo == 'unknown'
  %span.badge.badge-info= seed.gmo

- unless seed.heirloom == 'unknown'
  %span.badge.badge-info= seed.heirloom