.thumbnail
  .seed-thumbnail
    = link_to image_tag(seed_image_path(seed),
              alt: seed.crop.name, class: 'img'),
              seed_path(seed)
    .seedinfo
      .seed-name
        = link_to seed, seed_path(seed)
      .trade-to
        %p= seed.owner.location
        %p
          Will trade to:
          %br/
          = seed.tradable_to
