.thumbnail
  .seed-thumbnail
    = link_to image_tag(seed_image_path(seed),
              alt: seed.crop.name, class: 'img'),
              seed_path(seed)
    .seedinfo
      .seed-name
        = link_to display_seed_quantity(seed), seed_path(seed)
  = I18n.l(seed.created_at.to_date)
