.thumbnail
  .seed-thumbnail
    - if seed
      = link_to image_tag((seed.default_photo ? seed.default_photo.thumbnail_url : 'placeholder_150.png'),
                          alt: seed.crop.name, class: 'img'),
                          seed
      .seedinfo
        .seed-name
          = link_to seed, seed
