# This file is a sample file which you (i.e. Growstuff developers) can
# copy and use to store your API credentials for external APIs used by
# the Growstuff application.

# To use it, copy application.yml.example to application.yml (which is
# .gitignored) and fill in the appropriate values.

# Settings in this file will be available to you as ENV['WHATEVER']
# To set env vars on heroku, use "rake figaro:heroku --app=whatever"

# NOTE: please prefix all environment variables with GROWSTUFF_ to make
# it easy to identify which were set by us vs. the system or anyone else

##############################################################################
# Default (this is basically what's used in the development environment
##############################################################################

# name that appears on the site, eg. in page titles
GROWSTUFF_SITE_NAME: Growstuff (dev)

# Mandrill is used to send transactional email (eg. signup
# confirmations).  If using Heroku connect to Mandrill via Heroku addons
# list then go to tools menu (upper right) and choose "SMTP and API
# Credentials"
GROWSTUFF_MANDRILL_USERNAME: "dummy"
GROWSTUFF_MANDRILL_APIKEY: "dummy"

# Mailchimp is used for subscribing/unsubscribing people from the newsletter
GROWSTUFF_MAILCHIMP_APIKEY: ""
# To fetch list IDs using Gibbon (and thus find the ID of your newsletter):
#   Gibbon::API.api_key = '...'
#   gb = Gibbon::API.new
#   puts gb.lists.list.to_yaml
GROWSTUFF_MAILCHIMP_NEWSLETTER_ID: ""

# Used for connecting member accounts to Twitter
# Get Twitter key from https://dev.twitter.com/apps
GROWSTUFF_TWITTER_KEY: ""
GROWSTUFF_TWITTER_SECRET: ""

# Used for connecting member accounts to Flickr
# Get Flickr key from http://www.flickr.com/services/apps/create/apply/
GROWSTUFF_FLICKR_KEY: ""
GROWSTUFF_FLICKR_SECRET: ""

# Paypal is used for payments, obviously.
GROWSTUFF_PAYPAL_USERNAME: "dummy"
GROWSTUFF_PAYPAL_PASSWORD: "dummy"
GROWSTUFF_PAYPAL_SIGNATURE: "dummy"

##############################################################################
# Other environments (you can override the above for staging,
# production, etc
##############################################################################

test:
  GROWSTUFF_SITE_NAME: Growstuff (test)

travis:
  GROWSTUFF_SITE_NAME: Growstuff (test)

staging:
  GROWSTUFF_SITE_NAME: Growstuff (staging)

production:
  GROWSTUFF_SITE_NAME: Growstuff
