# This file is a sample file which you (i.e. Growstuff developers) can
# copy and use to store your API credentials for external APIs used by
# the Growstuff application.

# We are progressively moving config variables out of
# config/environments/*.rb and into this application.yml config instead.
# Please do not add new config variables to config/environments.
# There are however a couple of exceptions to this, particularly config
# variables used by the assets pipeline, which cannot access ENV.  These
# include:
#   mapbox_map_id

# To use it, copy application.yml.example to application.yml (which is
# .gitignored) and fill in the appropriate values.

# Settings in this file will be available to you as ENV['WHATEVER']

# NOTE: please prefix all environment variables with GROWSTUFF_ to make
# it easy to identify which were set by us vs. the system or anyone else

##############################################################################
# Default (this is basically what's used in the development environment
##############################################################################

# This secret token is used by Rails to generate cookies.
# It's the only one without "GROWSTUFF_" prefix.
# To generate a real one, use 'rake secret' (you don't need to for
# dev, though.)
RAILS_SECRET_TOKEN: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

# name that appears on the site, eg. in page titles
GROWSTUFF_SITE_NAME: Growstuff (dev)

# Mandrill is used to send transactional email (eg. signup
# confirmations).  If using Heroku connect to Mandrill via Heroku addons
# list then go to tools menu (upper right) and choose "SMTP and API
# Credentials"
GROWSTUFF_MANDRILL_USERNAME: "dummy"
GROWSTUFF_MANDRILL_APIKEY: "dummy"

# Mailchimp is used for subscribing/unsubscribing people from the newsletter
# To fetch list IDs using Gibbon (and thus find the ID of your newsletter):
#   $ rails c
#   Gibbon::API.api_key = '...'
#   gb = Gibbon::API.new
#   puts gb.lists.list.to_yaml
GROWSTUFF_MAILCHIMP_APIKEY: ""
GROWSTUFF_MAILCHIMP_NEWSLETTER_ID: ""

# Used for connecting member accounts to Twitter
# Get Twitter key from https://dev.twitter.com/apps
GROWSTUFF_TWITTER_KEY: ""
GROWSTUFF_TWITTER_SECRET: ""

# Used for connecting member accounts to Flickr
# Get Flickr key from http://www.flickr.com/services/apps/create/apply/
GROWSTUFF_FLICKR_KEY: ""
GROWSTUFF_FLICKR_SECRET: ""

# https://developers.facebook.com/
GROWSTUFF_FACEBOOK_KEY: ""
GROWSTUFF_FACEBOOK_SECRET: ""

# Elasticsearch is used for flexible search and it requires another component
# to be installed. To make it easy for people who don't need to test this feature
# it's been turned off for test and development environment as a default.
# If you want to test this functionality, install elasticsearch and
# set this flag to "true".
GROWSTUFF_ELASTICSEARCH: "false"

##############################################################################
# Other environments
# You can override the above for staging, production, etc.
# To push these settings to Heroku, use "rake figaro:heroku --app=whatever".
# To see current settings on Heroku, use "heroku config --app=whatever".
##############################################################################

test:
  GROWSTUFF_SITE_NAME: Growstuff (test)
  GROWSTUFF_CAPYBARA_DRIVER: poltergeist

# Note: there is no good way to deploy settings from Figaro to
# Travis-CI.  If you need env vars set there in order for tests to pass,
# set them in .travis.yml

staging:
  GROWSTUFF_SITE_NAME: Growstuff (staging)
  GROWSTUFF_ELASTICSEARCH: "true"

production:
  GROWSTUFF_SITE_NAME: Growstuff
  GROWSTUFF_ELASTICSEARCH: "true"
