.alternate_names
  %h4 Alternate names
  - if crop.alternate_names.empty?
    %p None known.
  - else
    %ul
      - crop.alternate_names.each do |an|
        %li
          = an.name
          - if can? :edit, an
            = link_to 'Edit', edit_alternate_name_path(an), class: 'btn btn-default btn-xs'
          - if can? :destroy, an
            = link_to 'Delete', an, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-xs'
  %p
  - if can? :edit, crop
    = link_to 'Add', new_alternate_name_path(crop_id: crop.id), class: 'btn btn-default btn-xs'
