%p
  %strong Grown for:
  - if crop.harvests.empty?
    not known.
  - else
    - crop.popular_plant_parts.map do |plant_part, frequency|
      = link_to plant_part.name, plant_part_path(plant_part)
      (#{frequency})
