= link_to |
  image_tag( |
    crop.default_photo ?  crop.default_photo.thumbnail_url : 'placeholder_150.png', |
    :alt => crop.system_name |
  ), |
  '#', |
  :rel => "popover", |
  'data-trigger' => 'hover', |
  'data-title' => crop.system_name, |
  'data-content' => "#{ render :partial => 'crops/popover', :locals => { :crop => crop } }", |
  'data-html' => true
