- cache crop do
  = link_to image_tag(crop_image_path(crop),
                      alt: crop.name, class: 'image-responsive crop-image'),
            crop.name,
            rel: "popover",
            'data-trigger': 'hover',
            'data-title': crop.name,
            'data-content': render(partial: 'crops/popover', locals: { crop: crop }),
            'data-html': true
