- unless photos.empty?
  .row
    - photos.order(created_at: :desc).limit(18).each do |photo|
      .col-md-2.six-across
        .thumbnail
          = link_to image_tag(photo.thumbnail_url, alt: photo.title, class: 'img'), photo

= link_to 'more photos', crop_photos_path(@crop)
            