%h3 See who's planted #{crop.name.pluralize}
%ul.list-group.list-group-flush
  - crop.plantings.order(planted_at: :desc).limit(5).each do |planting|
    %li.list-group-item
      = planting_icon
      = link_to planting do
        = planting
      - if planting.owner.location.present?
        %small=planting.owner.location