= form_tag search_crops_path, method: :get, class: 'form-inline my-2 my-lg-0', id: 'navbar-search' do
  .input-group
    %input.form-control.mr-sm-2{name: 'term', "aria-label" => "Search", placeholder: "Search", type: "search"}/
    %button.btn.btn-default.text-white{type: "submit"}
      = icon 'fas', 'search'
      Search