.card.crop-thumbnail
  = link_to image_tag(crop_image_path(crop),
                        alt: crop.name,
                        class: 'img img-card'),
                        crop

  .text
    %h3.crop-name= link_to crop, crop
    %h5.crop-sci-name
      &nbsp;
      = crop.default_scientific_name
