.thumbnail(style='height: 220px')
  - if crop
    = link_to image_tag((crop.default_photo ?  crop.default_photo.thumbnail_url : 'placeholder_150.png'), :alt => crop.system_name, :class => 'img-rounded'), crop
    %p
      = link_to crop.system_name, crop
      - if crop.scientific_names.count > 0
        %br/
        %i
          %small
            = crop.scientific_names.first.scientific_name
        %br/
        %small
          Planted
          = pluralize(crop.plantings.size, "time")
