.card.card-crop
  .crop-image
    = link_to image_tag(crop_image_path(crop),
                          alt: crop.name,
                          class: 'img img-card'),
                          crop

  .card-body
    %h3.text-center.crop-name= link_to crop, crop
    %p.small.crop-sci-name.text-center= crop.default_scientific_name
