.thumbnail
  .crop-thumbnail
    - if crop
      - cache cache_key_for(Crop, crop.id) do
        = link_to image_tag((crop.default_photo ?  crop.default_photo.thumbnail_url : 'placeholder_150.png'), :alt => crop.name, :class => 'img'), crop
        .cropinfo
          .cropname
            = link_to crop.name, crop
          - if crop.scientific_names.size > 0
            .scientificname
              = crop.scientific_names.first.scientific_name
          .plantingcount
            Planted
            = pluralize(crop.plantings.size, "time")
