- cache crop do
  .card.crop-thumbnail
    = link_to crop_path(slug: crop.slug) do
      = image_tag(crop.thumbnail_url.presence || placeholder_image,
                          alt: crop.name,
                          class: 'img img-card')


    .text
      %h3.crop-name= link_to crop.name, crop_path(slug: crop.slug)
      %h5.crop-sci-name
        = crop.scientific_names.first
