
.thumbnail(style='height: 200px')
  - if crop
    = link_to image_tag('http://placehold.it/150x150', :alt => '', :class => 'img-rounded'), crop
    %p
      = link_to crop.system_name, crop
      - if crop.scientific_names.count > 0
        %br/
        %i
          %small
            = crop.scientific_names.first.scientific_name
  - else
    = image_tag('http://placehold.it/150x150', :alt => '', :class => 'img-rounded')
    Sample crop
