- cache cache_key_for(Crop, crop.id) do
  .thumbnail
    .crop-thumbnail
      - if crop
        = link_to image_tag((crop.default_photo ? crop.default_photo.thumbnail_url : 'placeholder_150.png'),
                            alt: crop.name, class: 'img'),
                            crop
        .cropinfo
          .cropname
            = link_to crop.name, crop
          - unless crop.scientific_names.empty?
            .scientificname
              = crop.scientific_names.first.name
          .plantingcount
            Planted
            = pluralize(crop.plantings.size, "time")
