.thumbnail.crop-thumbnail
  - if crop
    = link_to image_tag((crop.default_photo ?  crop.default_photo.thumbnail_url : 'placeholder_150.png'), :alt => crop.name, :class => 'img'), crop
    %p.crop-name
      = link_to crop.name, crop
      - if crop.scientific_names.count > 0
        %br/
        %i.scientific-name
          %small
            = crop.scientific_names.first.scientific_name
        %br/
        %small
          Planted
          = pluralize(crop.plantings.size, "time")
