- if crop.approved? || can?(:wrangle, Crop)
  = link_to crop do
    %span.chip.crop-chip
      = crop_icon(crop)
      = crop.name
      - unless crop.approved?
        %badge.badge-warning= crop.approval_status
