- if can?(:edit, crop) || can?(:destroy, crop)
  %h4 Crop wrangling
  %p
    You are a
    = succeed "." do
      %strong CROP WRANGLER

  %p= crop_edit_button(crop) if can? :edit, crop
  %p= delete_button(crop) if can? :destroy, crop
