- content_for :title, "Crop Hierarchy"

%p
  This page shows the hierarchical tree of all crops in our
  = succeed "." do
    = link_to "crops database", crops_path

- cache cache_key_for(Crop) do
  = render partial: "hierarchy", locals: { display_crops: @crops }
