- content_for :title, "Crops"

%ul.thumbnails
  - @crops.each do |crop|
    %li.span2
      .thumbnail
        = image_tag('http://placehold.it/150x150', :alt => '', :class => 'img-rounded')
        %h3= link_to crop.system_name, crop
        - if crop.scientific_names.count > 0
          %p
            %i
              = crop.scientific_names.first.scientific_name

- if user_signed_in?
  %div
    = link_to 'New Crop', new_crop_path, {:class => 'button'}
