- content_for :title, "Crops"
- c = 0

%p
  = "Displaying #{@crops.length} crops"

%ul.thumbnails
  .row
  - @crops.each do |crop|
    - c += 1
    %li.span2
      = render :partial => "thumbnail", :locals => { :crop => crop }
    - if (c % 6) == 0
      .row

- if can? :create, Crop
  %div
    = link_to 'New Crop', new_crop_path, {:class => 'btn'}
