.row
  .col-md-12
    -if member_signed_in?
      .dialog{ :style => 'width: 42em;padding: 2em 4em;margin: 25% auto 0 auto;border: 1px solid #ccc;border-right-color: #999;border-bottom-color: #999; text-align: center;' }
        %h1{:style => 'font-size: 100%; color: #f00; line-height: 1.5em;'}= "We are sorry #{current_member.login_name}, but something went wrong (500)."

    -else
      .dialog{ :style => 'width: 42em;padding: 2em 4em;margin: 25% auto 0 auto;border: 1px solid #ccc;border-right-color: #999;border-bottom-color: #999;text-align: center;'}
        %h1{:style => 'font-size: 100%; color: #f00; line-height: 1.5em;'}= "We are sorry, but something went wrong (500)."