.card.garden-card
  .card-header
    %h4.card-title
      planted in
      = link_to garden.name, garden
  .index-cards
    - garden.plantings.each do |planting|
      = image_tag planting_image_path(planting)
