- content_for :buttonbar do
  - if current_member
    = link_to 'My Gardens', gardens_by_owner_path(owner: current_member.slug), class: 'btn btn-default'

  = link_to "Everyone's gardens", gardens_path, class: 'btn btn-default'

  - if can?(:create, Garden)
    = link_to 'Add a garden', new_garden_path, class: 'btn btn-default'
  - unless current_member
    = render 'shared/signin_signup', to: 'add a new garden'
