= content_for :title, "Edit garden"

- if member_signed_in?
  - if current_member == @garden.owner
    = render "form"
  - else
    .alert You aren't allowed to edit this garden.
- else
  .alert You're not logged in. Only logged in members can do this.
