# Place all the behaviors and hooks related to the matching controller here.
# All this logic will automatically be available in application.js.
# You can use CoffeeScript in this file: http://jashkenas.github.com/coffee-script/

map = L.map('map').setView([0.0, -0.0], 2);
L.tileLayer("http://{s}.tile.cloudmade.com/<%= ENV['CLOUDMADE_KEY'] %>/997/256/{z}/{x}/{y}.png", {
  attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery &copy; <a href="http://cloudmade.com">CloudMade</a>',
  maxZoom: 18
}).addTo(map);

<% Member.located.each do |m| %>
map.addLayer(
    new L.Marker(
      new L.LatLng(<%= m.latitude %>, <%= m.longitude %>)
    );
);
<% end %>
