.card.photo-card
  = link_to image_tag(photo.fullsize_url, alt: photo.title, class: 'img img-card'), photo
  .card-body
    %h3.ellipsis= link_to photo.title, photo
    %p
      %i by #{link_to photo.owner, photo.owner}
      - if photo.date_taken.present?
        %small= I18n.l(photo.date_taken.to_date)

