.photos-grid
  .photo-grid-item= link_to image_tag(photos.first.fullsize_url, class: 'rounded mx-auto'), photos.first
  - photos.offset(1).each do |photo|
    .photo-grid-item
      = link_to photo do
        = render 'photos/thumbnail', photo: photo
