- if can? :edit, photo
  = link_to photo_associations_path(photo_id: photo.id, type: type, id: thing.id),
    method: 'delete', class: 'btn btn-default btn-xs' do
    %span.glyphicon.glyphicon-remove{ title: "Remove link" }
