.photo
  = image_tag(photo.fullsize_url, alt: photo.title, class: 'img img-responsive')
  .text
    %p
      = link_to photo.title, photo
      %br/
      %small
        %i
          by
          = link_to photo.owner, photo.owner