.thumbnail.crop-thumbnail
  = link_to image_tag(photo.thumbnail_url, :alt => photo.title, :class => 'img-rounded img-responsive'), photo
  .text
    %p
      = link_to photo.title, photo
      %br/
      %small
        %i
          by
          = link_to photo.owner, photo.owner
