- content_for :title, "New Photo"

- if @flickr_auth
  %p
    Connected to Flickr as
    = succeed "." do
      = link_to @flickr_login.username, "http://flickr.com/photos/#{@flickr_login.id}"

  %p Select a photo from your recent uploads:

  - c = 0
  %ul.thumbnails
    .row
    - @photos.each do |p|
      - c += 1
      %li.span2
        .thumbnail(style='height: 220px')
          = image_tag(FlickRaw.url_q(p), :alt => '', :class => 'img-rounded')
          %p
            =p.title
      - if (c % 6) == 0
        .row


- else
  .alert
    You must
    =link_to "connect your account to Flickr", '/auth/flickr'
    to add photos.

