%p#notice= notice

= image_tag(@photo.fullsize_url, :alt => 'A plant', :class => 'img-rounded')

%p
  [Photo title goes here]
  by
  [Flickr username goes here]
  on Flickr.
  [if licence]
  Licensed under [Licence goes here].
  [else]
  [Copyright, all rights reserved]
  [endif]

