%a{:name => "comments"}
- if post.comments
  %h2
    =localize_plural(post.comments, Comment)
  - post.comments.post_order.each do |c|
    = render :partial => "comments/single", :locals => { :comment => c }

- else
  %h2 There are no comments yet


