
- if member_signed_in? && can?(:new, Like)
  - if !post.liked_by?(current_member)
    = link_to 'Like', likes_path(type: 'Post', id: post.id, format: :json),
              method: :post, remote: true, class: 'post-like btn like-btn'
  - else
    = link_to 'Unlike', likes_path(type: 'Post', id: post.id, format: :json),
              method: :delete, remote: true, class: 'post-like btn like-btn'

= render 'likes/count', likeable: post, liked: member_signed_in? && post.liked_by?(current_member)
