- if posts.length > 0
  %table.table.table-striped
    %tr
      %th Subject
      %th Posted by
      %th Posted

    - posts.each do |post|
      %tr
        %td
          = link_to strip_tags(post.subject), post
        %td
          =link_to post.author, post.author
        %td
          = distance_of_time_in_words(post.created_at, Time.zone.now)
          ago
- else
  %p No posts yet.
