// Finish times
- if planting.finish_is_predicatable?
  - if planting.zombie?
    %span.badge.badge-danger zombie
  - elsif !planting.should_be_finished?
    %span.badge.badge-light
      = days_from_now_to_finished(planting)
      days until finished

// Harvest times
- unless planting.zombie?
  - if planting.harvest_time?
    %span.badge.badge-light harvest time
  - elsif planting.before_harvest_time?
    %span.badge.badge-light
      = days_from_now_to_first_harvest(planting)
      days until harvest
