.card
  = link_to planting do
    = image_tag planting_image_path(planting, full_size: true), class: 'card-img-top img-fluid', alt: planting
  .card-body.card-body-cascade.text-center
    %h4.card-title
      %strong= link_to planting, planting
