.card
  = link_to planting do
    = image_tag planting.default_photo.fullsize_url, class: 'card-img-top img-fluid', alt: "Card image cap"
  .card-body.card-body-cascade.text-center
    %h4.card-title
      %strong= link_to planting, planting
