%h2 Seeds saved from this planting

- if planting.child_seeds.size.positive?
  .row
    - planting.child_seeds.each do |seed|
      .col-xs-6.col-sm-4.col-md-3
        = render 'seeds/thumbnail', seed: seed
- else
  %p No seeds saved

= planting_save_seeds_button(planting)