%h2 Seeds saved

= render 'seeds/modal', seed: Seed.new(parent_planting: planting, crop: planting.crop)

- if planting.child_seeds.size.positive?
  .index-cards
    - planting.child_seeds.each do |seed|
      = render 'seeds/card', seed: seed
- else
  %p No seeds saved
