%h2 Seeds saved

- if planting.child_seeds.size.positive?
  - planting.child_seeds.each do |seed|
    = render 'seeds/thumbnail', seed: seed
- else
  %p No seeds saved

- if planting.active? && can?(:create, Seed) && can?(:edit, planting)
  = planting_save_seeds_button(planting)
