%h2 Seeds saved
- if planting.child_seeds.size.positive?
  .index-cards
    - planting.child_seeds.each do |seed|
      = render 'seeds/card', seed: seed
- else
  %p No seeds saved

= planting_save_seeds_button(planting)
