%h2 Seeds saved

- if planting.child_seeds.size.positive?
  - planting.child_seeds.each do |seed|
    = render 'seeds/thumbnail', seed: seed
- else
  %p No seeds saved

= planting_save_seeds_button(planting)
