%h2 Harvests
- if planting.harvests.empty?
  %p No harvests recorded
  - if !planting.finished? && can?(:edit, planting) && can?(:create, Harvest)
    %p Record your harvests here to improve crop predictions, and you'll be able to compare with your garden next season.
- else
  .index-cards
    - planting.harvests.order(created_at: :desc).includes(:crop).each do |harvest|
      = render 'harvests/card', harvest: harvest

= planting_harvest_button(planting)
