%h2 Harvests
- if planting.harvests.empty?
  %p No harvests
- else
  .row
    - planting.harvests.order(created_at: :desc).includes(:crop).each do |harvest|
      .col-xs-6.col-sm-4.col-md-3
        = render 'harvests/thumbnail', harvest: harvest

- if planting.active? && can?(:edit, planting)
  = link_to new_planting_harvest_path(planting), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-leaf{ title: "Harvest" }
    Harvest
