- if planting.harvests.empty?
  %p no harvests yet
- else
  .row
    - planting.harvests.order(created_at: :desc).includes(:crop).each do |harvest|
      .col-xs-6.col-md-2
        = render 'harvests/thumbnail', harvest: harvest
    - if can? :edit, planting
      .col-xs-6.col-md-2
        = link_to new_planting_harvest_path(planting), class: 'btn btn-primary' do
          %span.glyphicon.glyphicon-leaf{ title: "Harvest" }
          Harvest
