- cache planting do
  = link_to |
    image_tag( |
      planting.photos.present? ? planting.photos.first.thumbnail_url : 'placeholder_150.png', |
      alt: planting.to_s, |
      class: 'image-responsive crop-image' |
    ), |
    planting, |
    rel: "popover", |
    'data-trigger' => 'hover', |
    'data-title' => planting.to_s, |
    'data-content' => "#{ render partial: 'plantings/popover', locals: { planting: planting } }", |
    'data-html' => true
