- cache planting do
  = link_to image_tag(planting_image_path(planting),
                      alt: planting.to_s,
                      class: 'image-responsive'),
            planting,
            rel: "popover",
            'data-trigger': 'hover',
            'data-title': planting.crop.name,
            'data-content': render('plantings/popover', planting: planting),
            'data-html': true
