- plantings.each do |p|
  - cache p do
    .row
      .col-lg-6.col-md-3.col-xs-4.homepage-listing
        = render 'plantings/image_with_popover', planting: p
      .col-lg-3.col-md-9.col-xs-4
        = link_to p.crop, p.crop
        %br/
        %small
          %i= p.location
