Harvests:
- if planting.harvests
  %ul
    - planting.harvests.each do |harvest|
      %li
        = harvest.harvested_at ? harvest.harvested_at : "undated"
        = link_to harvest, harvest_path(harvest)
- else
  none
