.thumbnail
  .planting-thumbnail
    - if planting
      = link_to image_tag(planting_image_path(planting),
                          alt: planting.crop.name, class: 'img'),
                          planting
      .plantinginfo
        .planting-name
          = render 'plantings/progress', planting: planting, show_explanation: false
          = link_to planting.crop.name, planting
