.thumbnail
  .planting-thumbnail
    - if planting
      = link_to image_tag((planting.default_photo ? planting.default_photo.thumbnail_url : 'placeholder_150.png'),
                          alt: planting.crop.name, class: 'img'),
                          planting
      .plantinginfo
        .planting-name
          = render 'plantings/progress', planting: planting, show_explanation: false
          = link_to planting.crop.name, planting
