= content_for :title, "Editing planting"

- if member_signed_in? && current_member == @planting.owner
  = render 'form'
- elsif member_signed_in?
  .alert You don't have permission to edit this planting.
- else
  .alert You're not logged in. Only logged in members can do this.

= link_to 'Show', @planting
\|
= link_to 'Back', plantings_path
