= content_for :title, "Editing planting"

- if user_signed_in? && current_user == @planting.owner
  = render 'form'
- elsif user_signed_in?
  .alert You don't have permission to edit this planting.
- else
  .alert You're not logged in. Only logged in users can do this.

= link_to 'Show', @planting
\|
= link_to 'Back', plantings_path
