%p
  Hello #{@member.login_name},
%p
  We're sorry, but your request for the new crop:
  = link_to @crop.name, crop_url(@crop)
  has been rejected for the following reason:
  = @crop.rejection_explanation

= render partial: 'signature'
