-content_for :title, 'Contact'

%dl
  %dt General contact email
  %dd= link_to 'info@growstuff.org', 'mailto:info@growstuff.org'
%dl
  %dt
    Support and accounts enquiries (not covered by the
    =succeed ")" do
      =link_to 'FAQ', url_for(:controller => '/support')
  %dd= link_to 'support@growstuff.org', 'mailto:support@growstuff.org'
%dl
  %dt Media/Press enquiries
  %dd= link_to 'media@growstuff.org', 'mailto:media@growstuff.org'
%dl
  %dt Twitter
  %dd= link_to '@growstufforg', 'http://twitter.com/growstufforg'
