.crop-icon {
  height: 1em;
}

.crop-thumbnail {
  .text {
    bottom: 0;
    color: $white;
    margin: 0;
    opacity: .9;
    position: absolute;
    text-align: center;
    width: 100%;

    h3 {
      background-color: $brown;
      font-size: 1em;
    }

    h5.crop-sci-name {
      background-color: $beige;
      color: $black;
      font-size: .7em;
    }

    a {
      color: $white;
    }

    a:hover {
      color: $black;
    }

    .img-card {
      border: 5%;
    }
  }
}

.planting {
  .crop-card {
    height: 100%;
    margin: .1em;
    min-height: 300px;
    width: 100px;
  }

  .img-thumbnail {
    width: 100%;
  }
}

.crop-photos {
  margin-left: 3em;
}

.crops-search-form {
  background-color: $white;
  padding: 1em;
}

.crop-hierarchy {
  list-style-type: disc;
}

.add-sciname-row,
.remove-sciname-row,
.add-altname-row,
.remove-altname-row {
  display: none;
}

.crop-chip {
  background-color: lighten($green, 20%);
  border-radius: 25px;
  display: inline-block;
  font-size: 1em;
  height: 30px;
  line-height: 30px;
  margin: .2em;
  padding: 0 25px;

  a {
    color: $white;
  }

  img {
    border-radius: 50%;
    float: left;
    height: 30px;
    margin: 0 10px 0 -25px;
    width: 30px;
  }
}

.crop-hero-photo {
  max-height: 300px;
}
