.planting {
  .crop-card {
    height: 100%;
    margin: .1em;
    min-height: 300px;
    width: 100px;
  }

  .img-thumbnail {
    width: 100%;
  }
}

.crop-photos {
  margin-left: 3em;
}

.crops-search-form {
  background-color: $white;
  padding: 1em;
}

li.crop-hierarchy {
  list-style-type: disc;
}

#add-sci_name-row,
#remove-sci_name-row,
#add-alt_name-row,
#remove-alt_name-row {
  display: none;
}
