
// stats shown on homepage. eg. "999 members..."
.stats {
  font-weight: bold;
}

.crops,
.seeds,
.members {
  .index-cards {
    justify-content: center;
  }
}

.homepage--list-item {
  height: 100px;
}

@include media-breakpoint-down(sm) {
  .homepage-cards {
    .seed-card {
      min-height: 80px;
      width: 100%;
    }

    .member-card {
      min-height: 80px;
      width: 150px;
    }
  }
}

@include media-breakpoint-up(md) {
  .homepage-cards {
    .card {
      width: 100px;
    }
  }
}
