// signup widget on homepage

// let's condense the hero unit a little

.member-cards {
  display: flex;
  flex: none;
  flex-wrap: wrap;

  .card {
    margin: 1em;
    width: 150px;
  }
}

// stats shown on homepage. eg. "999 members..."
.stats {
  font-weight: bold;
}

@include media-breakpoint-down(sm) {
  .homepage-cards {
    .seed-card {
      min-height: 80px;
      width: 100%;
    }

    .member-card {
      min-height: 80px;
      width: 150px;
    }
  }
}

@include media-breakpoint-up(md) {
  .homepage-cards {
    .card {
      width: 200px;
    }
  }
}
