.member-thumbnail {
  border-radius: 12px;
  height: 200px;
  margin: 1em;
  padding: 0.25em;

  div {
    display: inline-block;
    vertical-align: top;
    width: 5em;
  }
}

.member-thumbnail div ~ div {
  padding-left: 1em;
  width: 15em;
}
