.member-thumbnail {
  border-radius: 12px;
  height: 200px;
  margin: 1em;
  padding: .25em;

  div {
    display: inline-block;
    vertical-align: top;
    width: 5em;
  }
}

.member-thumbnail div~div {
  padding-left: 1em;
  width: 15em;
}


.member-chip {
  background-color: lighten($green, 30%);

  a {
    color: $black;
  }
}

.member-location {
  font-size: small;
  font-style: italic;

  a {
    color: $brown;
  }
}

.location-not-set {
  background-image: image-url('location-not-set.en.png');
  background-position: center;
  background-repeat: no-repeat;
  height: 250px;
  width: 100%;
}

.badge-location {
  background-color: darken($blue, 10%);
  border-radius: 5%;
  color: $white;
}
