.photo-grid {
  background: $beige;
}

.photo-grid-item {
  //background: #e6e5e4
  //border: 2px solid #b6b5b4
  //height: 100px
}

/* clear fix */
.photo-grid:after {
  content: "";
  display: block;
  clear: both;
}

/* ---- .photo-grid-item ---- */

.photo-grid-sizer,
.photo-grid-item {
  //width: 33.333%
}

.photo-grid-item {
  float: left;
}

.photo-grid-item img {
  display: block;
  max-width: 100%;
}

.hero-photo {
  max-height: 500px;
}

.photo-thumbnail {
  margin-right: 1em;
  margin-bottom: 1em;
  max-width: 150px;
  padding: 0;
  position: relative;

  img {
    width: 100%;
  }

  .text {
    display: none;
    color: #000;
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    margin: 0;
  }

  p {
    padding: 5px;
    margin: 0;
    color: #fff;
  }

  &:hover {
    .text {
      display: block;
    }
  }
}