.planting {

  .planting-badges {
    font-size: 1em;
    position: absolute;
    top: 3em;
    .badge-super-late {
      background-color: $red;
    }
    .badge-harvest {
      background-color: $blue;
    }
  }

  .planting-thumbnail {
    padding: 0;
    width: 150px;

    .badge {
      font-size: 100%;
    }
  }

  .planting-full-badges {
    .badge {
      font-size: 200%;
    }
  }
  .progress {
    .progress-bar {
      border-bottom-color: $green;
    }
    .progress-bar:after {
      background-color: $beige;
    }
  }

  .planting-name {
    position: relative;
    text-align: center;
    top: 0;
  }

  .planting-quick-actions {
    background-color: $white;
    left: 0;
    position: absolute;
    top: 0;
  }

  .planting-thumbnail-photo {
    height: 150px;
  }

  dl.planting-attributes {
    dt {
      text-align: left;
    }

    dd {
      margin-left: auto;
    }
  }
}

.planting-facts {
  display: flex;
  flex-wrap: wrap;
  flex: none;
  margin: 0.5em;

  .fact {
    background: $white;
    border-radius: 5%;
    border: 1px solid lighten($green, 20%);
    height: 160px;
    left: -0.5em;
    margin: 0.5em;
    padding: 1em;
    text-align: center;
    width: 160px;

    strong {
      font-align: center;
      font-size: 3em;
    }

    h3 {
      padding-top: 1em;
    }

    span {
      display: block;
    }

    img {
      height: 50%;
    }
  }
}
