.predictions {
  .predictions-card {
    text-align: center;
    max-width: 250px;
    border: 1px solid lighten($green, 20%);
    border-radius: 5%;
    background: $white;
    margin: 1em;

    strong {
      font-align: center;
      font-size: 4em;
    }

    span {
      display: block;
    }
  }
}
