
.seed-facts {
  display: flex;
  flex-wrap: wrap;
  flex: none;

  .seed-fact-card {
    background: $white;
    background: $white;
    border-radius: 5%;
    border: 1px solid lighten($green, 20%);
    margin: 1em;
    padding: 1em;
    text-align: center;
    width: 120px;

    strong {
      font-align: center;
      font-size: 4em;
    }

    span {
      display: block;
    }

    span {
      display: block;
    }

    img {
      height: 50%;
    }
  }
}