//$screen-md-min: 1028px

// Base colours
$beige: #f3f1ee;
$brown: #413f3b;

$green: #5f8e43;
$blue: #2f4365;
$red: #ff4d43;
$orange: #ffa500;
$yellow: #b2935c;
$white: #fff;

$body-bg: $beige;
$text-color: $brown;
$link-color: $green;

$default-font: 'Raleway',
"Fira Sans",
Helvetica,
Arial,
sans-serif;

$primary: (color: $green,
  dark: darken($green, 20%),
  light: lighten($green, 20%));
$secondary: (color: $blue,
  dark: darken($blue, 20%),
  light: lighten($blue, 20%));
$success: (color: $green,
  dark: darken($green, 20%),
  light: lighten($green, 20%));
$danger: (color: $red,
  dark: darken($red, 20%),
  light: lighten($red, 20%));
$dark: (color: $brown,
  dark: darken($brown, 20%),
  light: lighten($brown, 20%));


$grid-breakpoints: ( // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 576px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 1200px,
  // Extra large screen / wide desktop
  xl: 1800px);

// Nav bar
$navbar-default-bg: $brown;
$navbar-default-bg-highlight: $brown;
$navbar-default-color: $beige;
$navbar-default-link-color: darken($beige, 20%);
$navbar-default-link-hover-color: $beige;
$navbar-default-link-active-color: darken($beige, 80%);
$navbar-default-brand-color: lighten($green, 20%);

$highest-level: 1070;

$progress-height: 5em;
$progress-bar-color: $green;
$progress-bg: $white;
