// signup widget on homepage
.jumbotron .signup {
  background-color: lighten($green, 40%);
  border: 1px solid lighten($green, 20%);
  border-radius: 6px;
  line-height: 200%;
  padding: 15px;
  text-align: center;
}

.homepage-cards {
  display: flex;
  flex: none;
  flex-wrap: wrap;
  margin: .5em;
  // left: -.5em;

  .card {
    left: -.5em;
    margin: .5em;
    min-height: 100px;
    padding: 0;

    %h3.crop-name {
      font-size: 2em;
    }
  }
  .crop-card {
    min-height: 80px;
    width: 120px;
  }

  .thumbnail {
    margin: .5em;
  }
  .img-card {
    height: 150px;
  }

}

.member-cards {
  display: flex;
  flex: none;
  flex-wrap: wrap;

  .card {
    width: 150px;
    margin: 1em;
  }
}


@include media-breakpoint-down(sm) {
  .homepage-cards {
    .seed-card {
      min-height: 80px;
      width: 100%;
    }
    .member-card {
      min-height: 80px;
      width: 150px;
    }
  }
}

@include media-breakpoint-up(md) {
  .homepage-cards {
    .card {
      width: 200px;
    }
  }
}
