// let's condense the hero unit a little
.jumbotron {
  //padding-top: 30px
  //padding-bottom: 30px
}

// info under the main heading on homepage
.jumbotron .info {
  // padding-top: 15px
}

// signup widget on homepage
.jumbotron .signup {
  background-color: lighten($green, 40%);
  border: 1px solid lighten($green, 20%);
  border-radius: 6px;
  line-height: 200%;
  padding: 15px;
  text-align: center;
}

.homepage-cards, .homepage-thumbnails {
  display: flex;
  flex: none;
  flex-wrap: wrap;
  margin: 0.5em;
  left: -0.5em;

  .card {
    width: 200px;
    min-height: 100px;
    margin: 0.5em;
    padding: 0;
    left: -0.5em;

    %h3.crop-name {
      font-size: 2em;
    }
  }

  .thumbnail {
    margin: 0.5em;
  }
}
