.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  border: none;
}

.thumbnail {
  background: #fff !important;
  border: solid 1px whitesmoke;
}

.thumbnail .crop-thumbnail .cropinfo {
  padding-top: 14px;
}
