.member-thumbnail {
  padding: 0.25em;
  margin: 1em;
  border-radius: 12px;
  height: 200px;

  div {
    width: 5em;
    display: inline-block;
    vertical-align: top;
  }
}

.member-thumbnail div ~ div {
  padding-left: 1em;
  width: 15em;
}
