html,
body {
  height: 100%;
}

body {
  background-color: $beige;
  font-family: $font-family-sans-serif;
}

section {
  margin: 0;
  padding-bottom: 1em;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a {
  color: $green;

  .navbar-brand {
    margin: 0;
    padding: 0;
  }
}

a:hover {
  color: $brown;
  text-decoration: none;
}

.card a:hover {
  background-color: $beige;
  color: $blue;
}

ul.list-inline > li.first {
  padding-left: 0;
}

h2 {
  font-size: 150%;
}

h3 {
  font-size: 120%;
}

#navbar-search {
  .input-group {
    input {
      background-color: $white;
      color: $black;
    }

    input::placeholder {
      color: $navbar-default-link-color;
    }
  }
}

.index-cards {
  display: flex;
  flex: none;
  flex-wrap: wrap;

  .card {
    margin: 1em 1em 1em 0;
    width: 200px;
  }
}

img.img-icon {
  width: 1.2em;
}

img.img-card {
  height: 180px;
  object-fit: cover;
  width: 100%;
}

img.img-responsive {
  max-width: 100%;
}

img.avatar {
  border-radius: 50%;
  padding: 1em;
  position: relative;
  z-index: 2;
}

// this is used for eg. crops and members index pages
.six-across:nth-child(6n+1) {
  margin-left: 0;
}

.three-across:nth-child(3n+1) {
  clear: both;
  margin-left: 0;
}

.card {
  margin-bottom: 1em
}

.progress {
  border-radius: 0;

  .progress-bar-text {
    text-align: center;
  }
}

ul.associations {
  list-style-type: none;
}

// footer
footer {
  #footer1,
  #footer2,
  #footer3 {
    padding-bottom: 2em;
    padding-top: 1em;
    text-align: left;

    ul {
      list-style-position: outside;
      list-style-type: none;
      margin-left: 0;
      padding-left: 0;
    }

    a {
      color: $navbar-default-link-color;
      text-decoration: none;
    }

    a:hover {
      color: $navbar-default-link-hover-color;
    }

    a:active {
      color: $navbar-default-link-active-color;
    }
  }
}

// ensure footer is pushed to bottom of browser window
#maincontainer {
  min-height: 80%;
}

// Autosuggest
.ui-autocomplete {
  background: $white;
  z-index: $highest-level;
}

.alert {
  a {
    font-weight: 800;
  }
}

/* override "info" alert boxes to be green, not blue, on Growstuff */
$state-info-text: darken($green, 10%);
$state-info-bg: lighten($green, 50%);

/* and set "success" to be the same, as it was just very slightly
 * different because the default bootstrap green is slightly different
 * from ours */
$state-success-text: darken($green, 10%);
$state-success-bg: lighten($green, 50%);

.hide {
  display: none;
}

.panel {
  .dl-horizontal {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

label.required:after {
  color: red;
  content:" *";
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

ul.plantings {
  list-style-type: none;
}

ul.thumbnail-buttons {
  list-style-type: none;
  text-align: right;
}

.hover-wrapper .text {
  position: absolute;
  visibility: hidden;
}

.hover-wrapper:hover .text {
  visibility: visible;
}

.container {
  max-width: 1500px;
}

// Small devices (landscape phones, less than 768px)
@include media-breakpoint-down(md) {
  .planting-thumbnail {
    dl.planting-attributes {
      width: 100%;

      dt {
        text-align: left;
        width: 120px;
      }

      dd {
        margin-left: auto;
        padding-left: 120px;
      }
    }
  }
}


.form-page {
  text-align: center;

  .form-card {
    display: inline-block;
    margin-top: 0.5em;
    max-width: 800px;
    padding: 1em;
    text-align: center;
  }

  .crop-card {
    width: 100px;
  }
}

// Overrides applying only to mobile view. This must be at the end of the overrides file.
// Extra small devices (portrait phones, less than 576px)
@include media-breakpoint-down(xs) {
  #maincontainer {
    width: 100%;
  }

  .sidebar {
    margin-left: 0;
    border-left: none;
    padding-left: 0;
  }

  #map {
    height: 300px;
  }

  .navbar .nav > li {
    display: block;
  }

  .navbar .navbar-form {
    padding-left: 0;
    padding-right: 0;

    .navbar-search {
      width: auto;
    }
  }

  #maincontainer {
    padding: 10px;
  }

  .homepage-cards {
    .crop-card {
      width: 50px;
    }
  }

  .index-cards {
    .card {
      width: 100%;
      margin: 0.5em;
    }
  }
}
