//@import "bootstrap-sprockets"
//@import "bootstrap"
// this padding needs to be done before the responsive stuff is imported
body {
  background-color: $beige;
  font-family: $font-family-sans-serif;

  // padding-top: $navbar-height
}

section {
  padding-top: 1em;
  margin: 0;
}

.ellipsis {
    overflow:hidden; 
    white-space: nowrap;
    text-overflow: ellipsis;
}

a {
  color: $green;
}

a:hover {
  color: $white;
  background-color: $green;
  text-decoration: none;
}

span.badge {
  background-color: $brown;

  a {
    color: $white;
  }
}

.list-inline > li.first {
  padding-left: 0;
}

.activity-list {
  list-style-type: none;
  padding: 0;
}

h2 {
  font-size: 150%;
}

h3 {
  font-size: 120%;
}

.main {
  padding-right: 1em;
}

// .navbar .navbar-form
//   padding-top: 0
//   padding-bottom: 0
//   margin-right: 0
//   margin-left: 15px
//   border: 0
//   -webkit-box-shadow: none
//   box-shadow: none

.index-cards {
  display: flex;
  flex: none;
  flex-wrap: wrap;

  .card {
    width: 200px;
    margin: 1em;
  }
}

.img-square {
  object-fit: cover;
  height: 150px;
  width: 150px;
}

.img-card {
  object-fit: cover;
  height: 180px;
  width: 100%;
}

.img-responsive {
  max-width: 100%;
}

.avatar {
  border-radius: 50%;
  z-index: 2;
  position: relative;
  padding: 1em;
}

.profile-sidebar {
  margin-top: -5rem;
}

.profile-activity {
  background: white;
  padding: 2em;
  margin-top: 2em;
}

.sidebar {
  border-left: 1px solid darken($beige, 10%);
  margin-left: -1px;
  padding-left: 1em;
}

// this is used for eg. crops and members index pages
.six-across:nth-child(6n+1) {
  margin-left: 0;
}

.three-across:nth-child(3n+1) {
  margin-left: 0;
  clear: both;
}

// let's condense the hero unit a little
.jumbotron {
  background-color: darken($beige, 10%);
  text-color: $white;
  padding-top: 30px;
  padding-bottom: 30px;
}

// info under the main heading on homepage
.jumbotron .info {
  //padding-top: 15px
  padding: 0.5em;
  text-align: center;
}

// signup widget on homepage
.jumbotron .signup {
  background-color: lighten($green, 40%);
  border: 1px solid lighten($green, 20%);
  border-radius: 6px;
  line-height: 200%;
  padding: 15px;
  text-align: center;
}

// stats shown on homepage. eg. "999 members..."
p.stats {
  font-weight: bold;
}

.card-row {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 25px;
  grid-row-gap: 5px;
}
.card {
  margin-bottom: 1em
}

.progress {
  border-radius: 0;

  .progress-bar-text {
    text-align: center;
  }
}

.layout-actions {}

#placesmap, #cropmap {
  height: 500px;
}

#membermap {
  height: 250px;
  z-index: 0;
}

.location-not-set {
  height: 250px;
  width: 100%;
  background-image: image-url("location-not-set.en.png");
  background-repeat: no-repeat;
  background-position: center;
}

.member-location {
  font-size: small;
  font-style: italic;
}

.member-location a {
  color: $brown;
}

.associations {
  list-style-type: none;
}


li.crop-hierarchy {
  list-style-type: disc;
}

.navbar-brand {
  margin: 0;
  padding: 0;
}

.navbar-bottom {
  margin: 40px 0 0 !important;
}

.post-actions {
  margin-bottom: 1rem;
}

// footer
footer {
  #footer1, #footer2, #footer3 {
    text-align: left;
    padding-top: 1em;
    padding-bottom: 2em;

    ul {
      list-style-type: none;
      list-style-position: outside;
      padding-left: 0;
      margin-left: 0;
    }

    a {
      color: $navbar-default-link-color;
      text-decoration: none;
    }

    a:hover {
      color: $navbar-default-link-hover-color;
    }

    a:active {
      color: $navbar-default-link-active-color;
    }
  }
}

// ensure footer is pushed to bottom of browser window

#maincontainer {
  min-height: 80%;
}

#global-actions {
  padding-top: 10px;
}

html, body {
  height: 100%;
}

.member-image {
  border-radius: 50%;
}

// Autosuggest
.ui-autocomplete {
  background: white;
  z-index: $zindex-tooltip
}

.alert {
  a {
    font-weight: 800;
  }
}

/* override "info" alert boxes to be green, not blue, on Growstuff */
$state-info-text: darken($green, 10%);
$state-info-bg: lighten($green, 50%);

/* and set "success" to be the same, as it was just very slightly
 * different because the default bootstrap green is slightly different
 * from ours */
$state-success-text: darken($green, 10%);
$state-success-bg: lighten($green, 50%);

.hide {
  display: none;
}

#add-sci_name-row, #remove-sci_name-row, #add-alt_name-row, #remove-alt_name-row {
  display: none;
}

.panel-footer {
  height: 6em;
}

.panel {
  .dl-horizontal {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

label.required:after {
  color: red;
  content:" *";
}

.margin-bottom {
  margin-bottom: 1em;
}

.red {
  color: red;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

ul.plantings {
  list-style-type: none;
}

ul.thumbnail-buttons {
  list-style-type: none;
  text-align: right;
}

.hover-wrapper .text {
  position: absolute;
  visibility: hidden;
}

.hover-wrapper:hover .text {
  visibility: visible;
}

.homepage-listing {
  padding-bottom: 6px;
}

.container {
  max-width: 1500px;
}

// Small devices (landscape phones, less than 768px)
@include media-breakpoint-down(md) {
  .planting-thumbnail {
    dl.planting-attributes {
      width: 100%;

      dt {
        text-align: left;
        width: 120px;
      }

      dd {
        padding-left: 120px;
        margin-left: auto;
      }
    }
  }

  //.navbar .navbar-form
  //  width: 250px
}


.form-page {
  text-align: center;

  .form-card {
    max-width: 500px;
    text-align: center;
    display: inline-block;
    padding: 1em;
  }
  .crop-card {
    width: 100px;
  }
}

// Overrides applying only to mobile view. This must be at the end of the overrides file.
// Extra small devices (portrait phones, less than 576px)
@include media-breakpoint-down(xs) {
  #maincontainer {
    width: 100%;
  }
  .sidebar {
    margin-left: 0;
    border-left: none;
    padding-left: 0;
  }

  #map {
    height: 300px;
  }

  .navbar .nav > li {
    display: block;
  }

  .navbar .navbar-form {
    //width: 185px
    padding-left: 0;
    padding-right: 0;

    .navbar-search {
      width: auto;
    }
  }

  #maincontainer {
    padding: 10px;
  }
  .homepage-cards {
    .crop-card {
      width: 50px;
    }
  }
  .index-cards {
    .card {
      width: 100%;
      margin: 0.5em;
    }
  }
}
