.photo-grid {
  background: #DDD;
}

.photo-grid-item {
  //background: #e6e5e4
  //border: 2px solid #b6b5b4
  //height: 100px
}

/* clear fix */
.photo-grid:after {
  content: "";
  display: block;
  clear: both;
}

/* ---- .photo-grid-item ---- */

.photo-grid-sizer,
.photo-grid-item {
  //width: 33.333%
}

.photo-grid-item {
  float: left;
}

.photo-grid-item img {
  display: block;
  max-width: 100%;
}

.hero-photo {
  max-height: 500px;
}