.planting {
  // padding: 0.5em;

  .planting-badges {
    font-size: 1.5em;
    position: absolute;
    top: 3em;

    .badge-super-late {
      background-color: $red;
    }

    .badge-harvest {
      background-color: $blue;
    }

    .planting-super-late {}

    .planting-late {
      background-color: $beige;
    }
  }

  .planting-thumbnail {
    width: 150px;
    padding: 0;
    // margin-bottom: 0.5em;
    // margin-top: 0.5em;

    .badge {
      font-size: 100%;
    }
  }

  .planting-full-badges {
    .badge {
      font-size: 200%;
    }
  }
  .progress {
    min-height: 25px;
  }

  .planting-name {
    position: relative;
    text-align: center;
    top: 0;
  }

  .planting-quick-actions {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $white;
  }

  .planting-thumbnail-photo {
    height: 150px;
  }

  dl.planting-attributes {
    dt {
      text-align: left;
    }

    dd {
      margin-left: auto;
    }
  }
}

.planting-facts {
  display: flex;
  flex: none;
  flex-wrap: wrap;
  margin: 0.5em;

  .fact {
    text-align: center;
    height: 160px;
    width: 160px;
    border: 1px solid lighten($green, 20%);
    border-radius: 5%;
    background: $white;
    padding: 1em;
    margin: 0.5em;
    left: -0.5em;

    strong {
      font-size: 3em;
      font-align: center;
    }

    h3 {
      padding-top: 1em;
    }

    span {
      display: block;
    }

    img {
      height: 50%;
    }
  }
}
