#{link_to event_model.category, event_model}
-# - if event_model.planting
-#     on #{link_to event_model.planting,event_model.planting}
-# - if event_model.garden
-#     in #{link_to event_model.planting,event_model.garden