#{link_to event_model.category, event_model} - #{event_model.name}

- if event_model.planting
  %span on #{link_to event_model.planting, event_model.planting}

- if event_model.garden
  %span in #{link_to event_model.garden, event_model.garden}
