---
http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?name=Solanum+lycopersicum
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-USER-AGENT:
      - Faraday/v1.10.3 Gbif/v0.2.0
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"usageKey":2930137,"scientificName":"Solanum lycopersicum L.","canonicalName":"Solanum
        lycopersicum","rank":"SPECIES","status":"ACCEPTED","confidence":98,"matchType":"EXACT","kingdom":"Plantae","phylum":"Tracheophyta","order":"Solanales","family":"Solanaceae","genus":"Solanum","species":"Solanum
        lycopersicum","kingdomKey":6,"phylumKey":7707728,"classKey":220,"orderKey":1176,"familyKey":7717,"genusKey":2928997,"speciesKey":2930137,"synonym":false,"class":"Magnoliopsida"}'
  recorded_at: Sun, 14 Jan 2024 09:13:39 GMT
- request:
    method: get
    uri: https://api.gbif.org/v1/species/2930137
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-USER-AGENT:
      - Faraday/v1.10.3 Gbif/v0.2.0
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"key":2930137,"nubKey":2930137,"nameKey":10463714,"taxonID":"gbif:2930137","kingdom":"Plantae","phylum":"Tracheophyta","order":"Solanales","family":"Solanaceae","genus":"Solanum","species":"Solanum
        lycopersicum","kingdomKey":6,"phylumKey":7707728,"classKey":220,"orderKey":1176,"familyKey":7717,"genusKey":2928997,"speciesKey":2930137,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"7ddf754f-d193-4cc9-b351-99906754a03b","parentKey":2928997,"parent":"Solanum","scientificName":"Solanum
        lycopersicum L.","canonicalName":"Solanum lycopersicum","vernacularName":"Garden
        tomato","authorship":"L.","nameType":"SCIENTIFIC","rank":"SPECIES","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","publishedIn":"L.
        (1753). In: Sp. Pl. 185.","numDescendants":23,"lastCrawled":"2023-08-22T23:20:59.545+00:00","lastInterpreted":"2023-08-22T23:12:05.487+00:00","issues":[],"class":"Magnoliopsida"}'
  recorded_at: Sun, 14 Jan 2024 09:13:40 GMT
recorded_with: VCR 6.2.0
