Map data &copy;
= link_to "OpenStreetMap", "http://openstreetmap.org"
contributors under
= link_to "ODbL", "http://www.openstreetmap.org/copyright"
| Imagery &copy;
= link_to "CloudMade", "http://cloudmade.com"
