Map data &copy;
= link_to "OpenStreetMap", "https://openstreetmap.org"
contributors under
= link_to "ODbL", "https://www.openstreetmap.org/copyright"
| Imagery &copy;
= link_to "CloudMade", "https://cloudmade.com"
