%form{:action => search_places_path, :method => :get, :class => 'form-inline', :role => 'form'}
  .form-group
    = label_tag :new_place, "Change location:", :class => 'sr-only'
    = text_field_tag :new_place, '', :class => 'form-control', :placeholder => "New location..."
  = submit_tag "Search", :class => 'btn btn-primary', :id => "search_button"
%br/
