-content_for :title, "#{ENV['GROWSTUFF_SITE_NAME']} members near #{@place}"

= render 'search_form'

%div#placesmap{ :style => "height:300px"}

%h3 Nearby members

- if !@nearby_members.empty?
  .row
    - @nearby_members.first(30).each do |member|
      .col-md-4.three-across
        = render :partial => "members/thumbnail", :locals => { :member => member }
- elsif @place
  %p No results found
