- daysleft = Date.new(2014, 10, 22) - Date.today # end of campaign is the 21st, this gives a number that matches what IGG uses
- if daysleft > 0
  .crowdfunding-banner
    Help us share free growing information with the world.
    = link_to 'Support our crowdfunding campaign.', 'https://www.indiegogo.com/projects/growstuff/x/6079859'
    There are only #{daysleft.to_i} days left.

