.navbar.navbar-default.navbar-bottom
  .container
    .row
      .col-md-4#about-growstuff
        != cms_snippet_content(:footer1)
      .col-md-4#policies
        != cms_snippet_content(:footer2)
      .col-md-4#contact
        != cms_snippet_content(:footer3)
