.navbar.navbar-default.navbar-bottom
  .container
    .row
      .col-md-4#footer1
        != cms_snippet_content(:footer1)
      .col-md-4#footer2
        != cms_snippet_content(:footer2)
      .col-md-4#footer3
        != cms_snippet_content(:footer3)
