%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.justify-content-between
  .nav
    %a.navbar-brand{ href: root_path }
      = image_tag("pear.png", class: 'logo', alt: 'Growstuff brand logo (drawing of a pear)')
      .d-none.d-md-block
        %span.site-name Growstuff
  .nav= render 'crops/search_bar'
  .nav
    %button.navbar-toggler{ "aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", type: "button" }
      %i.fas.fa-ellipsis-v.navbar-toggler-icon
    = render 'layouts/menu'
