<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      body {
        font-family: "Fira Sans", Helvetica, Arial, sans-serif;
      }
      img.img-icon {
        width: 1.2em;
      }
      ul {
        padding: 0.2em;
      }

      li {
        border-radius: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.12);
        box-shadow: none;
        display: block;
        font-size: 0.9375rem;
        line-height: 1.428572;
        min-height: 3rem;
        position: relative;
      }

      section {
        margin: .5em 0 0;
        padding: 0 0 1em;
      }
      section h2 {
        background-color: #5f8e43;
        color: #ffffff;
        box-shadow: 1px 1px 1px 1px #c9c0b2;
        color: $white;
        padding: .2em;
      }
    </style>
  </head>
  <body><%= yield %></body>
</html>