%h3 Account details

%p
  %strong Member since:
  = member.created_at.to_s(:date)

%p
  %strong Account type:
  = member.account_type
  account

%p
  %strong Last Login:
  = member.last_sign_in_at

%p
  %strong Member Roles:
  %br
  - if member.has_role? :admin
    Administrator
  - if member.has_role? :crop_wrangler
    Crop Wrangler
  - else
    Member
