%h3 Account details

%p
  %strong Member since:
  = member.created_at.to_s(:date)

%p
  %strong Account type:
  = member.account_type
  account

%p
<<<<<<< HEAD
  %strong Administrator:
  = member.has_role? :admin
=======
  %strong Member Role:
  - if member.has_role? :admin
    Administrator
  - else
    Crop Wrangler
%p
  %strong Last login:
  #{member.last_sign_in_at}
>>>>>>> 5a94502... added last sign in
