= link_to |
  image_tag( |
      Gravatar.new(member.email).image_url( |
        options = { |
          :size => defined?(size) ?  size : 150, |
          :default => :identicon }), |
        :alt => member.login_name, |
        :class => 'img-responsive member-image' |
  ), |
  member, |
  :rel => "popover", |
  'data-trigger' => 'hover', |
  'data-title' => member.login_name, |
  'data-content' => "#{ render :partial => 'members/popover', :locals => { :member => member } }", |
  'data-html' => true
