- if member.location.present?
  = link_to place_path(member.location) do
    %span.badge.badge-location
      = icon 'fas', 'map-marker'
      = member.location
- else
  %span.badge.badge-location
    unknown location