%span.badge.badge-light.member-location
  - if member.location.blank?
    unknown location
  - else
    = link_to place_path(member.location, anchor: "members") do
      = truncate(member.location, length: 40, separator: ' ', omission: '... ')
