- if member.latitude && member.longitude
  #membermap.member-map
  %p.text-right
    See other members, plantings, seeds and more near
    = link_to member.location, place_path(member.location, anchor: "members")
- else
  .location-not-set
    .sr-only Location not known
    .sr-only We can't show you what's nearby
