- content_for :title, "Unsubscribe #{@member}"
%h1 Unsubscribe #{@member}
%p
  If you wish to unsubscribe from other Growstuff emails, you may do so via
  = link_to "your settings page", edit_member_registration_url
