- content_for :title, "Unsubscribe"

%p
  You have been unsubscribed from
  %strong
    #{@text}
  emails. If you wish to unsubscribe from other Growstuff emails, you may do so via
  = link_to "your settings page", edit_member_registration_url
